{% comment %}
  Header Navigation Snippet
  Renders main navigation menu with mega menu support
  Parameters: menu (link_list), section (section object)
{% endcomment %}

<ul class="box-nav-menu" style="gap: {{ section.settings.menu_item_spacing }}px;">
  {% for link in linklists[menu].links %}
    {%- assign menu_title = link.title | downcase -%}
    {% assign has_block_config = false %}
    {% for block in section.blocks %}
      {% assign menu_match = block.settings.menu_item_match | strip | downcase %}
      {% assign link_match = link.title | strip | downcase %}
      {% if menu_match == link_match and menu_match != blank %}
        {% assign has_block_config = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    <li class="menu-item {% if link.links.size > 0 and has_block_config == false or menu_title == 'pages' or menu_title == 'blog' %} position-relative {% endif %}">
      <a href="{{ link.url }}" class="item-link">
        <span class="title-text">{{ link.title }}</span>
        {% if link.links.size > 0 or menu_title == 'home' %}<i class="icon icon-arr-down"></i>{% endif %}
      </a>

      {% for block in section.blocks %}
        {% assign menu_match = block.settings.menu_item_match | strip | downcase %}
        {% assign link_match = link.title | strip | downcase %}
        {% assign links = link.links %}
        {% if menu_match == link_match and menu_match != blank %}
          {% case block.type %}
            {% when 'mega_home' %}
              <!-- HTML Content Mega Menu -->
              {% if block.settings.content_page and pages[block.settings.content_page] %}
                {% assign selected_page = pages[block.settings.content_page] %}

                {% if selected_page.metafields.home.menu.value %}
                  <div class="sub-menu mega-menu mega-home">
                    <div class="row-demo">
                      {%- for item in selected_page.metafields.home.menu.value limit: 12 -%}
                        {%- assign image = item.image -%}
                        <div class="demo-item">
                          <a href="{{ item.url }}" title="{{ item.name }}">
                            {%- if image != blank -%}
                              <div class="demo-image">
                                <img
                                  src="{{ image | image_url: width: 300 }}"
                                  width="300"
                                  height="300"
                                  srcset="{{ image | image_url: width: 300 }} 1x, {{ image | image_url: width: 600 }} 2x"
                                  sizes="300px"
                                  loading="lazy"
                                  alt="{{ item.name }}"
                                >
                                {%- if item.label.value.size > 0 -%}
                                  <div class="demo-label">
                                    {%- for label in item.label.value -%}
                                      <span class="demo-tag demo-{{ label | handle }}">
                                        {{- label | escape -}}
                                      </span>
                                    {%- endfor -%}
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          </a>
                          <a href="{{ item.url }}" class="demo-name link">{{ item.name }}</a>
                        </div>
                      {%- endfor -%}
                    </div>
                    {% if selected_page.metafields.home.menu.value.size > 12 %}
                      <div class="view-all-demo text-center">
                        <a href="#modalDemo" data-bs-toggle="modal" class="tf-btn btn-primary animate-btn">
                          Explore all demos ({{ selected_page.metafields.home.menu.value.size }}+)
                          <i class="icon icon-arr-right"></i>
                        </a>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}

            {% when 'mega_shop' %}
              {% assign collection = block.settings.collections | first %}
              <div
                class="sub-menu mega-menu mega-shop"
                style="{% if collection == blank  or links.size <= 0 %} grid-template-columns: 1fr !important; max-width: 600px; padding: 32px 60px;{% endif %}"
              >
                {%- if links.size > 0 -%}
                  <div class="wrapper-sub-menu">
                    {% for child in links %}
                      <div class="mega-menu-item">
                        <div class="menu-heading">{{ child.title }}</div>
                        {% if child.links != blank %}
                          <ul class="menu-list">
                            {% for grandchild in child.links %}
                              <li>
                                <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {%- endif -%}
                {% if collection != blank %}
                  <div class="wrapper-sub-collection">
                    <div
                      dir="ltr"
                      class="swiper tf-swiper hover-sw-nav wow fadeInUp"
                      data-swiper='
                        {
                          "slidesPerView": 2,
                          "spaceBetween": 24,
                          "speed": 800,
                          "observer": true,
                          "observeParents": true,
                          "slidesPerGroup": 2,
                          "navigation": {
                            "clickable": true,
                            "nextEl": ".nav-next-cls-header",
                            "prevEl": ".nav-prev-cls-header"
                          },
                          "pagination": { "el": ".sw-pagination-cls-header", "clickable": true }
                        }
                      '
                    >
                      <div class="swiper-wrapper">
                        {% for collection in block.settings.collections %}
                          <div class="swiper-slide">
                            <div class="wg-cls style-abs bg-surface asp-1 hover-img">
                              <a href="{{ collection.url }}" class="image img-style d-block">
                                <img
                                  src="{{ collection.featured_image | image_url: width: 400 }}"
                                  data-src="{{ collection.featured_image | image_url: width: 400 }}"
                                  alt="{{ collection.title }}"
                                  class="lazyload"
                                  width="400"
                                  height="400"
                                  loading="lazy"
                                  decoding="async"
                                >
                              </a>
                              <div class="cls-btn text-center">
                                <a href="{{ collection.url }}" class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                                  {{ collection.title }}
                                  <i class="icon icon-arrow-top-left"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      {% assign collections_count = 0 %}
                      {% for collection in block.settings.collections %}
                        {% assign collections_count = collections_count | plus: 1 %}
                      {% endfor %}

                      {% if collections_count > 2 %}
                        <div
                          class="d-flex d-xl-none sw-dot-default sw-pagination-cls-header justify-content-center"
                        ></div>
                        <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls-header"></div>
                        <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls-header"></div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% when 'mega_product' %}
              {% assign mega_products = block.settings.products | first %}
              <div
                class="sub-menu mega-menu mega-product"
              >
                <div class="wrapper-sub-menu" style="{% if mega_products == blank %} width: 100%; {% endif %}">
                  {% for child in link.links %}
                    <div class="mega-menu-item">
                      <div class="menu-heading">{{ child.title }}</div>
                      {% if child.links != blank %}
                        <ul class="menu-list">
                          {% for grandchild in child.links %}
                            <li>
                              <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                {% if mega_products != blank %}
                  <div class="wrapper-sub-product">
                    <div
                      dir="ltr"
                      class="swiper tf-swiper wrap-sw-over wow fadeInUp"
                      data-swiper='
                        {
                          "slidesPerView": 2,
                          "spaceBetween": 24,
                          "speed": 800,
                          "observer": true,
                          "observeParents": true,
                          "slidesPerGroup": 2,
                          "navigation": {
                            "clickable": true,
                            "nextEl": ".nav-next-product-header",
                            "prevEl": ".nav-prev-product-header"
                          },
                          "pagination": { "el": ".sw-pagination-product-header", "clickable": true }
                        }
                      '
                    >
                      <div class="swiper-wrapper">
                        {% for product in block.settings.products %}
                          <div class="swiper-slide">
                            {% render 'product-card', product: product, show_progress_sale: false %}
                          </div>
                        {% endfor %}
                      </div>
                      <div class="sw-dot-default sw-pagination-product-header justify-content-center"></div>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% when 'mega_pages' %}
              <div class="sub-menu sub-menu-style-2 {% if block.settings.banner_image == blank %}no-banner{% endif %}">
                {% assign total_items = link.links.size %}
                {% assign items_per_list = 8 %}
                {% assign number_of_lists = total_items | divided_by: items_per_list %}
                {% assign remainder = total_items | modulo: items_per_list %}
                {% if remainder > 0 %}
                  {% assign number_of_lists = number_of_lists | plus: 1 %}
                {% endif %}

                {% for list_index in (1..number_of_lists) %}
                  {% assign start_index = list_index | minus: 1 | times: items_per_list %}
                  {% if start_index < total_items %}
                    <ul class="menu-list">
                      {% for child in link.links offset: start_index limit: items_per_list %}
                        <li>
                          <a href="{{ child.url }}" class="menu-link-text link">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
                {% if block.settings.banner_image != blank %}
                  <div class="banner hover-img">
                    {% assign block = section.blocks | where: 'type', 'mega_pages' | first %}
                    {% if block and block.settings.banner_image != blank %}
                      <a href="{{ block.settings.banner_url }}" class="img-style">
                        <img
                          src="{{ block.settings.banner_image | image_url: width: 600 }}"
                          alt="{{ block.settings.banner_title }}"
                          loading="lazy"
                          width="500"
                          height="262"
                          decoding="async"
                          class="lazyload"
                        >
                      </a>
                    {% endif %}
                    {% if block.settings.banner_title != blank %}
                      <div class="content">
                        <div class="title">
                          {{ block.settings.banner_title }}
                        </div>
                        {% if block.settings.banner_url != blank %}
                          <a href="{{ block.settings.banner_url }}" class="box-icon animate-btn"
                            ><i class="icon icon-arrow-top-left"></i
                          ></a>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% when 'mega_blog' %}
              <!-- Blog Posts Mega Menu -->
              {% assign block = section.blocks | where: 'type', 'mega_blog' | first %}
              <div class="sub-menu sub-menu-style-3{% unless block and block.settings.recent_posts_title != blank and block.settings.blog != blank %} no-blog{% endunless %}">
                <ul class="menu-list mt-0">
                  {% for child in link.links %}
                    <div class="menu-heading">{{ child.title }}</div>
                    {% if child.links != blank %}
                      {% for grandchild in child.links %}
                        <li>
                          <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
                {% if block %}
                  {% if block.settings.blog != blank %}
                    <div class="wrapper-sub-blog">
                      {% if block.settings.recent_posts_title != blank %}
                        <div class="menu-heading">{{ block.settings.recent_posts_title }}</div>
                      {% endif %}
                      <ul class="list-recent-blog">
                        {% for post in blogs[block.settings.blog].articles limit: block.settings.posts_to_show %}
                          <li class="item">
                            <a href="{{ post.url }}" class="img-box">
                              <img
                                data-src="{{ post.image | image_url: width: 80, height: 80, crop: 'center' }}"
                                src="{{ post.image | image_url }}"
                                data-src="{{ post.image | image_url }}"
                                alt="{{ post.title }}"
                                width="80"
                                height="80"
                                class="lazyload"
                                loading="lazy"
                                decoding="async"
                                class="lazyload"
                              >
                            </a>
                            <div class="content">
                              <a href="{{ post.url }}" class="fw-medium text-sm link title">{{ post.title }}</a>
                              <span class="text-xxs text-grey date-post">
                                {{- post.published_at | date: '%b %d %Y' -}}
                              </span>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
          {% endcase %}
          {% break %}
        {% endif %}
      {% endfor %}

      <!-- Fallback: Show dropdown with same structure as mega menus but without extra content -->
      {% assign has_mega_menu = false %}
      {% for block in section.blocks %}
        {% assign menu_match = block.settings.menu_item_match | strip | downcase %}
        {% assign link_match = link.title | strip | downcase %}
        {% if menu_match == link_match and menu_match != blank %}
          {% assign has_mega_menu = true %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% unless has_mega_menu %}
        {% if link.links.size > 0 %}
          {% comment %} Check if any child has grandchildren {% endcomment %}
          {% assign has_grandchildren = false %}
          {% for child in link.links %}
            {% if child.links.size > 0 %}
              {% assign has_grandchildren = true %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% if has_grandchildren %}
            <!-- Use the same structure as mega_shop but without collections -->
            <div
              class="sub-menu mega-menu mega-shop"
              style="grid-template-columns: 1fr !important; max-width: 600px; padding: 32px 60px;"
            >
              {% comment %} Check if we need wrapper-sub-menu: only when there are more than 1 child {% endcomment %}
              {% assign needs_wrapper = false %}
              {% if link.links.size > 1 %}
                {% assign needs_wrapper = true %}
              {% endif %}

              {% if needs_wrapper %}
                <div class="wrapper-sub-menu">
                  {% for child in link.links %}
                    <div class="mega-menu-item">
                      <div class="menu-heading">{{ child.title }}</div>
                      {% if child.links != blank %}
                        <ul class="menu-list">
                          {% for grandchild in child.links %}
                            <li>
                              <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                {% for child in link.links %}
                  <div class="mega-menu-item">
                    <div class="menu-heading">{{ child.title }}</div>
                    {% if child.links != blank %}
                      <ul class="menu-list">
                        {% for grandchild in child.links %}
                          <li>
                            <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          {% else %}
            <!-- Use the same structure as mega_pages but without banner -->
            <div class="sub-menu sub-menu-style-2 no-banner">
              {% assign total_items = link.links.size %}
              {% assign items_per_list = 8 %}
              {% assign number_of_lists = total_items | divided_by: items_per_list %}
              {% assign remainder = total_items | modulo: items_per_list %}
              {% if remainder > 0 %}
                {% assign number_of_lists = number_of_lists | plus: 1 %}
              {% endif %}

              {% for list_index in (1..number_of_lists) %}
                {% assign start_index = list_index | minus: 1 | times: items_per_list %}
                {% if start_index < total_items %}
                  <ul class="menu-list">
                    {% for child in link.links offset: start_index limit: items_per_list %}
                      <li>
                        <a href="{{ child.url }}" class="menu-link-text link">{{ child.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      {% endunless %}
    </li>
  {% endfor %}
</ul>

{% style %}
  .wrapper-sub-blog .list-recent-blog img {
    height: 100%;
  }

  /* Hover effect specifically for the menu title text */
  .box-nav-menu .menu-item:hover .item-link .title-text {
    color: rgb(var(--color-text-hover)) !important;
  }

  .box-nav-menu .sub-menu-style-2.no-banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    min-width: 500px;
    left: -60px;
  }
  .box-nav-menu .sub-menu-style-2.no-banner .menu-list {
    width: auto;
  }

  .box-nav-menu .sub-menu-style-3.no-blog {
    width: max-content !important;
    min-width: auto !important;
    justify-content: flex-start;
    left: -30px;
  }
  .box-nav-menu .sub-menu-style-3.no-blog .menu-list {
    width: auto !important;
    min-width: auto !important;
    max-width: none;
  }
  @media screen and (max-width: 1540px) {
    .box-nav-menu .mega-product {
      padding: 32px 40px;
    }
  }
{% endstyle %}
