    <div class="modal fade modalCentered modal-order-detail" id="order_detail_{{ order.id }}" tabindex="-1" aria-labelledby="orderDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="header">
                    <div class="heading">{{ 'orders.modal.title' | t }}</div>
                    <span class="icon-close icon-close-popup" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                
                {% if order %}
                    <ul class="list-infor">
                        <li>#{{ order.name | remove: '#' }}</li>
                        <li>{{ order.created_at | date: "%d %B %Y" }}</li>
                        <li>{{ order.line_items.size }} {{ 'orders.modal.items' | t }}</li>
                        <li class="text-{{ order.fulfillment_status | handle }}">
                            {% case order.fulfillment_status %}
                                {% when 'fulfilled' %}
                                    {{ 'orders.modal.status.delivered' | t }}
                                {% when 'partial' %}
                                    {{ 'orders.modal.status.partially_delivered' | t }}
                                {% when 'unfulfilled' %}
                                    {{ 'orders.modal.status.processing' | t }}
                                {% else %}
                                    {{ order.fulfillment_status | capitalize }}
                            {% endcase %}
                        </li>
                    </ul>
                    
                    <div class="tb-order-detail">
                        <div class="top">
                            <div class="title item">{{ 'orders.modal.product' | t }}</div>
                            <div class="title item d-md-block d-none">{{ 'orders.modal.quantity' | t }}</div>
                            <div class="title item d-md-block d-none">{{ 'orders.modal.price' | t }}</div>
                            <div class="title item d-md-block d-none">{{ 'orders.modal.total' | t }}</div>
                        </div>
                        <div class="tb-content">
                            {% for line_item in order.line_items %}
                                <div class="order-detail-item">
                                    <div class="item">
                                        <div class="infor-content">
                                            <div class="image">
                                                <a href="{{ line_item.product.url }}">
                                                    {% if line_item.image %}
                                                        <img class="lazyload" 
                                                             data-src="{{ line_item.image | image_url: width: 100 }}" 
                                                             src="{{ line_item.image | image_url: width: 100 }}" 
                                                             alt="{{ line_item.product.title | escape }}"
                                                             width="60" height="60">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div>
                                                <a class="link" href="{{ line_item.product.url }}">{{ line_item.product.title }}</a>
                                                {% if line_item.variant.title != 'Default Title' %}
                                                    <div class="size">{{ line_item.variant.title }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-title="{{ 'orders.modal.quantity' | t }}">
                                        {{ line_item.quantity }}
                                    </div>
                                    <div class="item" data-title="{{ 'orders.modal.price' | t }}">
                                        {{ line_item.final_price | money }}
                                    </div>
                                    <div class="item" data-title="{{ 'orders.modal.total' | t }}">
                                        {{ line_item.final_line_price | money }}
                                    </div>
                                </div>
                            {% endfor %}
                            
                            <div class="order-detail-item subtotal">
                                <div class="item d-md-block d-none"></div>
                                <div class="item d-md-block d-none"></div>
                                <div class="item subtotal-text">
                                    {{ 'orders.modal.subtotal' | t }}:
                                </div>
                                <div class="item subtotal-price">
                                    {{ order.subtotal_price | money }} {{ shop.currency }}
                                </div>
                            </div>
                            
                            {% if order.total_tax > 0 %}
                                <div class="order-detail-item tax">
                                    <div class="item d-md-block d-none"></div>
                                    <div class="item d-md-block d-none"></div>
                                    <div class="item tax-text">
                                        {{ 'orders.modal.tax' | t }}:
                                    </div>
                                    <div class="item tax-price">
                                        {{ order.total_tax | money }} {{ shop.currency }}
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% if order.total_shipping_price_set.shop_money.amount > 0 %}
                                <div class="order-detail-item shipping">
                                    <div class="item d-md-block d-none"></div>
                                    <div class="item d-md-block d-none"></div>
                                    <div class="item shipping-text">
                                        {{ 'orders.modal.shipping' | t }}:
                                    </div>
                                    <div class="item shipping-price">
                                        {{ order.total_shipping_price_set.shop_money | money }} {{ shop.currency }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                
                <div class="bottom text-center">
                    {{ 'orders.modal.return_policy.text' | t }} 
                    <a href="/pages/return-and-refund" class="fw-medium btn-underline">
                        {{ 'orders.modal.return_policy.link_text' | t }}
                    </a> 
                    {{ 'orders.modal.return_policy.in' | t }} <span class="fw-medium">{{ 'orders.modal.return_policy.days' | t }}</span>
                </div>
            </div>
        </div>
    </div> 