<div class="card-product style-2 style-border-2">
    <div class="card-product-wrapper asp-ratio-0">
        <a href="{{ product.url }}" class="product-img">
            {% if product.featured_image %}
                <img class="img-product lazyload"
                    width="460" height="460"
                    data-src="{{ product.featured_image | image_url: width: 460, height: 460, crop: 'center' }}"
                    src="{{ product.featured_image | image_url: width: 100, height: 100, crop: 'center' }}" 
                    alt="{{ product.featured_image.alt | escape }}">
                {% if product.images[1] %}
                    <img class="img-hover lazyload"
                        width="460" height="460"
                        data-src="{{ product.images[1] | image_url: width: 460, height: 460, crop: 'center' }}"
                        src="{{ product.images[1] | image_url: width: 100, height: 100, crop: 'center' }}"
                        alt="{{ product.images[1].alt | escape }}">
                {% endif %}
            {% endif %}
        </a>
        {% if product.compare_at_price > product.price %}
            {% assign save_percentage = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price %}
            <div class="on-sale-wrap">
                <span class="on-sale-item">{{ save_percentage }}% Off</span>
            </div>
        {% endif %}
        <ul class="list-product-btn">
            <li>
                <a href="#shoppingCart" data-bs-toggle="offcanvas"
                    class="hover-tooltip box-icon">
                    <span class="icon icon-cart2"></span>
                    <span class="tooltip">Add to Cart</span>
                </a>
            </li>
            <li class="wishlist">
                <a href="{{ product.url }}" class="hover-tooltip box-icon">
                    <span class="icon icon-heart2"></span>
                    <span class="tooltip">Add to Wishlist</span>
                </a>
            </li>
            <li>
                <a href="{{ product.url }}" class="hover-tooltip box-icon quickview">
                    <span class="icon icon-view"></span>
                    <span class="tooltip">Quick View</span>
                </a>
            </li>
            <li class="compare">
                <a href="{{ product.url }}" class="hover-tooltip box-icon">
                    <span class="icon icon-compare"></span>
                    <span class="tooltip">Add to Compare</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-product-info text-center">
        <a href="{{ product.url }}"
            class="name-product link fw-medium text-md">{{ product.title }}</a>
        <p class="price-wrap fw-medium">
            <span class="price-new text-xl-2">{{ product.price | money }}</span>
            {% if product.compare_at_price > product.price %}
                <span class="price-old text-sm old-line">{{ product.compare_at_price | money }}</span>
            {% endif %}
        </p>
        {% if product.available and product.variants.first.inventory_management == "shopify" %}
            {% assign inventory_quantity = product.variants.first.inventory_quantity %}
            {% assign max_inventory = 100 %}
            {% assign inventory_percentage = inventory_quantity | times: 100 | divided_by: max_inventory %}
            <div class="product-progress-sale">
                <div class="progress-sold progress" role="progressbar" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar bg-purple" style="width: {{ inventory_percentage }}%"></div>
                </div>
                <div class="box-quantity d-flex justify-content-between">
                    <p class="text-sold text-sm">
                        Sold:
                        <span class="fw-medium text-primary">{{ max_inventory | minus: inventory_quantity }}</span>
                    </p>
                    <p class="text-avaiable text-sm">
                        Available:
                        <span class="fw-medium">{{ inventory_quantity }}</span>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</div>