{% comment %}
    Quick Add Modal Snippet
    Accepts:
    - modal_id: Custom modal ID (optional, defaults to "quickAdd")
    - product: Product object (optional, for wishlist button)
{% endcomment %}

{% assign modal_id = modal_id | default: 'quickAdd' %}
<div class="modal fade modalCentered popup-quickadd" id="{{ modal_id }}" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
            <div class="main-product-quickadd card-product">
                <div class="item-product-info">
                    <div class="product-img">
                        <img 
                            class="img-product ls-is-cached lazyloaded" 
                            id="modal-product-image"
                            src=""
                            alt=""
                            width="300"
                            height="300"
                        >
                    </div>
                    <div class="content-box">
                        <a href="#" class="name-product link text-lg" id="modal-product-title"></a>
                        <div class="price-show-badge">
                            <div class="price-wrap">
                                <span class="price-new" id="modal-product-price"></span>
                                <span class="price-old" id="modal-product-compare-price" style="display: none;"></span>
                            </div>
                            <span class="on-sale-item" id="modal-product-discount" style="display: none;"></span>
                        </div>
                    </div>
                </div>

                <div class="item-product-variant" id="modal-product-variants" style="display: none;">
                    <!-- Variants will be populated dynamically -->
                </div>

                <div class="item-product-quantity">
                    <div class="label text-md">{{ 'products.product.quantity.label' | t }}</div>
                    <div class="wg-quantity">
                        <button class="btn-quantity btn-decrease" type="button">-</button>
                        <input class="quantity-product" type="text" name="quantity" value="1">
                        <button class=" btn-quantity btn-increase" type="button">+</button>
                    </div>
                </div>

                <div class="item-product-group-btn">
                    <a href="#" 
                       class="tf-btn animate-btn atc product-cart-button" 
                       id="modal-add-to-cart"
                       data-product-id=""
                       data-variant-id=""
                       data-selected-variant=""
                       data-quantity="1"
                       disabled>
                        {{ 'quickview.add_to_cart' | t }}
                    </a>
                    <li class="wishlist">
                        <a href="#" class="hover-tooltip box-icon"
                            id="modal-wishlist-button"
                            data-product-id=""
                            data-product-handle=""
                            aria-label="{{ 'snippets.product-card.add_to_wishlist' | t }}">
                            <span class="icon icon-heart2" aria-hidden="true"></span>
                            <span class="tooltip">{{ 'snippets.product-card.add_to_wishlist' | t }}</span>
                        </a>
                    </li>
                    <li class="compare">
                        <a href="#compare" class="hover-tooltip box-icon"
                            id="modal-compare-button"
                            data-product-id=""
                            data-product-handle=""
                            aria-label="{{ 'snippets.product-card.add_to_compare' | t }}">
                            <span class="icon icon-compare" aria-hidden="true"></span>
                            <span class="tooltip">{{ 'snippets.product-card.add_to_compare' | t }}</span>
                        </a>
                    </li>
                    <a href="#" class="tf-btn btn-primary animate-btn w-100" id="modal-buy-now">{{ 'quickview.buy_it_now' | t }}</a>
                </div>
                
                <a href="#" class="tf-btn btn-line-dark payment-link" id="modal-payment-link">{{ 'quickview.more_payment_options' | t }}</a>
            </div>
        </div>
    </div>
</div>
