<div class="offcanvas offcanvas-end popup-style-1 popup-reset-pass" id="resetPass">
    <div class="canvas-wrapper">
        <div class="canvas-header popup-header">
            <span class="title">{{ 'customer.reset_password.title' | t }}</span>
            <button class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="{{ 'general.accessibility.close' | t }}"></button>
        </div>
        <div class="canvas-body popup-inner">
            {% form 'recover_customer_password' , class: 'form-login' %}
                <div class="">
                    <p class="text text-sm text-main-2">{{ 'customer.reset_password.subtext' | t }}</p>
                    
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors | default_errors }}
                        </div>
                    {% endif %}

                    {% if form.posted_successfully? %}
                        <div class="alert alert-success" role="alert">
                            {{ 'customer.recover_password.success' | t }}
                        </div>
                    {% endif %}

                    <fieldset class="email mb_12">
                        <input 
                            type="email" 
                            name="email" 
                            id="RecoverEmail" 
                            placeholder="{{ 'customer.reset_password.email' | t }}"
                            value="{{ form.email }}"
                            required
                            autocomplete="email"
                        >
                    </fieldset>
                </div>
                <div class="bot">
                    <div class="button-wrap">
                        <button class="subscribe-button tf-btn animate-btn bg-dark-2 w-100" type="submit">
                            {{ 'customer.reset_password.submit' | t }}
                        </button>
                        <button type="button" data-bs-dismiss="offcanvas" class="tf-btn btn-out-line-dark2 w-100">
                            {{ 'customer.reset_password.cancel' | t }}
                        </button>
                    </div>
                </div>
            {% endform %}
        </div>
    </div>
</div>