<!doctype html>
<html class="js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% if settings.font_library == 'shopify' %}
      {%- unless settings.type_body_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
      {%- unless settings.type_header_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
    {% else %}
      {% comment %} theme-check-disable RemoteAsset {% endcomment %}
      <link
        href="https://fonts.googleapis.com/css2?family={{ settings.body_font_family | split: ',' | first | replace: '"', '' | replace: ' ', '+' }}:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
      >

      {% comment %} theme-check-enable RemoteAsset {% endcomment %}
    {% endif %}

    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'drift-basic.min.css' | asset_url | stylesheet_tag }}
    {{ 'image-compare-viewer.min.css' | asset_url | stylesheet_tag }}

    {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'font-icons.css' | asset_url | stylesheet_tag }}
    {{ 'custom-select.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'product-card-styles.css' | asset_url | stylesheet_tag }}

    {% render 'css-variables' %}

    {% comment %}
      {%- unless settings.type_body_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
      {%- unless settings.type_header_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
    {% endcomment %}

    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    {% section 'main-password-header' %}
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer></footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
