<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% else %}
      <meta name="description" content="{{ shop.description | default: shop.name | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {% render 'structured-data' %}

    {{ content_for_header }}

    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'drift-basic.min.css' | asset_url | stylesheet_tag }}
    {{ 'image-compare-viewer.min.css' | asset_url | stylesheet_tag }}

    {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'font-icons.css' | asset_url | stylesheet_tag }}
    {{ 'custom-select.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'product-card-styles.css' | asset_url | stylesheet_tag }}

    {% render 'css-variables' %}

    {% if settings.font_library == 'shopify' %}
      {%- unless settings.type_body_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
      {%- unless settings.type_header_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
    {% else %}
      {% comment %} theme-check-disable RemoteAsset {% endcomment %}
      <link
        href="https://fonts.googleapis.com/css2?family={{ settings.body_font_family | split: ',' | first | replace: '"', '' | replace: ' ', '+' }}:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
      >

      {% comment %} theme-check-enable RemoteAsset {% endcomment %}
    {% endif %}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    <!-- Core JS -->
    {% comment %} theme-check-disable RemoteAsset {% endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
      defer="defer"
    ></script>
    {% comment %} theme-check-enable RemoteAsset {% endcomment %}

    <!-- UI Enhancement JS -->
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'nouislider.min.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'wow.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'count-down.js' | asset_url }}" defer="defer"></script>

    <!-- Image Handling JS -->
    <script src="{{ 'drift.min.js' | asset_url }}" defer="defer"></script>
    <script type="module" src="{{ 'image-compare-viewer.min.js' | asset_url }}" defer="defer"></script>
    <script type="module" src="{{ 'model-viewer.min.js' | asset_url }}" async></script>

    <!-- Slider/Carousel JS -->
    <script src="{{'swiper-bundle.min.js' | asset_url}}" defer="defer"></script>
    <script src="{{ 'infinityslide.vanilla.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'carousel.vanilla.js' | asset_url }}" defer="defer"></script>
    {% comment %} <script src="{{ 'zoom.vanilla.js' | asset_url }}" defer="defer"></script> {% endcomment %}

    <!-- Custom Scripts -->
    <script src="{{ 'simpleParallaxVanilla.umd.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main.vanilla.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'shop.vanilla.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'cart-button.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'recently-viewed.js' | asset_url }}" defer></script>
  </head>

  <body class="gradient">
    {% render 'preload-screen' %}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
    {% sections 'system-group' %}

    {% render 'quickview-modal' %}
    {% render 'compare-modal' %}
    {% render 'login-drawer' %}
    {% render 'reset-password-drawer' %}
    {% render 'register-drawer' %}
    {% render 'mobile-toolbar' %}
    {% render 'search-modal' %}
  {% comment %} {%- if request.design_mode -%}{%- render 'var_adm' -%}{% endif -%} {% endcomment %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    {% render 'js-translations' %}

    <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'cart-count-updater.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
