{% schema %}
{
  "name": "t:sections.banner-swiper.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.banner-swiper.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.banner-swiper.settings.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.banner-swiper.settings.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.banner-swiper.settings.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "header",
      "content": "t:sections.banner-swiper.settings.slider_settings.content"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "t:sections.banner-swiper.settings.show_arrows.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:sections.banner-swiper.settings.show_pagination.label",
      "default": true
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.banner-swiper.settings.space_between.label",
      "default": 12
    },
    {
      "type": "range",
      "id": "space_between_tablet",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.banner-swiper.settings.space_between_tablet.label",
      "default": 12
    },
    {
      "type": "range",
      "id": "space_between_desktop",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.banner-swiper.settings.space_between_desktop.label",
      "default": 24
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.banner-swiper.settings.layout.label",
      "options": [
        {
          "value": "layout1",
          "label": "t:sections.banner-swiper.settings.layout.options.layout1"
        },
        {
          "value": "layout2",
          "label": "t:sections.banner-swiper.settings.layout.options.layout2"
        }
      ],
      "default": "layout1"
    },
    {
      "type": "header",
      "content": "t:sections.banner-swiper.settings.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.banner-swiper.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.banner-swiper.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.banner-swiper.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.banner-swiper.settings.padding_mobile_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "t:sections.banner-swiper.blocks.banner.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.banner-swiper.blocks.banner.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.banner-swiper.blocks.banner.settings.title.label",
          "default": "t:sections.banner-swiper.blocks.banner.settings.title.default"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "t:sections.banner-swiper.blocks.banner.settings.title_size.label",
          "options": [
            {
            "value": "h6",
            "label": "t:sections.banner-swiper.blocks.banner.settings.title_size.options.small"
            },
            {
            "value": "h5",
            "label": "t:sections.banner-swiper.blocks.banner.settings.title_size.options.medium"
            },
            {
            "value": "h4",
            "label": "t:sections.banner-swiper.blocks.banner.settings.title_size.options.large"
            }
          ],
          "default": "h6"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "t:sections.banner-swiper.blocks.banner.settings.subtitle.label",
          "default": "t:sections.banner-swiper.blocks.banner.settings.subtitle.default"
        },
        {
          "type": "select",
          "id": "subtitle_size",
          "label": "t:sections.banner-swiper.blocks.banner.settings.subtitle_size.label",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.banner-swiper.blocks.banner.settings.subtitle_size.options.small"
            },
            {
              "value": "text-md",
              "label": "t:sections.banner-swiper.blocks.banner.settings.subtitle_size.options.medium"
            },
            {
              "value": "text-lg",
              "label": "t:sections.banner-swiper.blocks.banner.settings.subtitle_size.options.large"
            }
          ],
          "default": "text-md"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.banner-swiper.blocks.banner.settings.link.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.banner-swiper.blocks.banner.settings.button_text.label",
          "default": "t:sections.banner-swiper.blocks.banner.settings.button_text.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner-swiper.presets.name",
      "category": "t:sections.banner-swiper.presets.category",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}

<!-- Banner Swiper -->
<section class="{% if section.settings.layout == 'layout2' %}flat-spacing-3{% else %}flat-spacing{% endif %} color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding section-{{ section.id }}">
  <div class="{% if section.settings.layout == 'layout2' %}container{% else %}{{ section.settings.width }}{% endif %}">
    <div class="fl-control-sw2 pos1">
      <div
        dir="ltr"
        class="swiper tf-swiper"
        data-swiper='
          {% if section.settings.layout == "layout2" %}
          {
              "slidesPerView": 1,
              "spaceBetween": {{ section.settings.space_between }},
              "speed": 800,
              "observer": true,
              "observeParents": true,
              "slidesPerGroup": 1,
              "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-banner-swiper",
                  "prevEl": ".nav-prev-banner-swiper"
              },
              "pagination": {
                  "el": ".sw-pagination-banner-swiper",
                  "clickable": true,
                  "enabled": {{ section.settings.show_pagination | json }}
              },
              "breakpoints": {
                  "768": {
                      "slidesPerView": 2,
                      "spaceBetween": {{ section.settings.space_between_tablet }},
                      "slidesPerGroup": 2
                  },
                  "992": {
                      "slidesPerView": 2,
                      "spaceBetween": {{ section.settings.space_between }},
                      "slidesPerGroup": 2
                  },
                  "1200": {
                      "slidesPerView": 3,
                      "spaceBetween": {{ section.settings.space_between_desktop }},
                      "slidesPerGroup": 3
                  }
              }
          }
          {% else %}
          {
              "slidesPerView": 1,
              "spaceBetween": {{ section.settings.space_between }},
              "speed": 800,
              "observer": true,
              "observeParents": true,
              "slidesPerGroup": 1,
              "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-banner-swiper",
                  "prevEl": ".nav-prev-banner-swiper",
                  "hideOnClick": false,
                  "disabledClass": "swiper-button-disabled",
                  "lockClass": "swiper-button-lock"
              },
              "pagination": {
                  "el": ".sw-pagination-banner-swiper",
                  "clickable": true,
                  "enabled": {{ section.settings.show_pagination | json }}
              },
              "breakpoints": {
                  "768": {
                      "slidesPerView": 2,
                      "spaceBetween": {{ section.settings.space_between_tablet }},
                      "slidesPerGroup": 2
                  },
                  "1200": {
                      "slidesPerView": 2,
                      "spaceBetween": {{ section.settings.space_between_desktop }},
                      "slidesPerGroup": 2
                  }
              }
          }
          {% endif %}
        '
      >
        <div class="swiper-wrapper wow fadeInUp">
          {% for block in section.blocks %}
            {% if block.type == 'banner' %}
              <div class="swiper-slide" {{ block.shopify_attributes }}>
                {% if section.settings.layout == 'layout2' %}
                  <div class="banner-shop style-bottom style-bottom2 hover-img">
                    {% if block.settings.link != blank %}
                      <a href="{{ block.settings.link }}" class="img-style d-block">
                    {% else %}
                      <div class="img-style d-block">
                    {% endif %}
                      {% if block.settings.image %}
                        {{
                          block.settings.image
                          | image_url: width: 800
                          | image_tag: class: 'lazyload', alt: block.settings.title, loading: 'lazy', decoding: 'async'
                        }}
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    {% if block.settings.link != blank %}
                      </a>
                    {% else %}
                      </div>
                    {% endif %}
                    <div class="content text-center wow fadeInUp">
                      <div class="box-title">
                        {% if block.settings.link != blank %}
                          <{{ block.settings.title_size }} class="text-white">
                            <a href="{{ block.settings.link }}" class="text-white link">{{ block.settings.title }}</a>
                          </{{ block.settings.title_size }}>
                        {% else %}
                          <{{ block.settings.title_size }} class="text-white">{{ block.settings.title }}</{{ block.settings.title_size }}>
                        {% endif %}
                        <p class="{{ block.settings.subtitle_size }} text-white" style="max-width: 330px;">{{ block.settings.subtitle }}</p>
                      </div>
                      {% if block.settings.link != blank and block.settings.button_text != blank %}
                        <a href="{{ block.settings.link }}" class="tf-btn btn-white hover-dark">{{ block.settings.button_text }}</a>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  <div class="wg-cls-2 hover-img">
                    {% if block.settings.link != blank %}
                      <a href="{{ block.settings.link }}" class="img-style img-box">
                    {% else %}
                      <div class="img-style img-box">
                    {% endif %}
                      {% if block.settings.image %}
                        {{
                          block.settings.image
                          | image_url: width: 800
                          | image_tag: class: 'lazyload', alt: block.settings.title, loading: 'lazy', decoding: 'async'
                        }}
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    {% if block.settings.link != blank %}
                      </a>
                    {% else %}
                      </div>
                    {% endif %}
                    <div class="content">
                      <div class="box-title">
                        {% if block.settings.link != blank %}
                          <{{ block.settings.title_size }} class="title">
                            <a href="{{ block.settings.link }}" class="link">{{ block.settings.title }}</a>
                          </{{ block.settings.title_size }}>
                        {% else %}
                          <{{ block.settings.title_size }} class="title">{{ block.settings.title }}</{{ block.settings.title_size }}>
                        {% endif %}
                        <p class="{{ block.settings.subtitle_size }} text-main">{{ block.settings.subtitle }}</p>
                      </div>
                      {% if block.settings.link != blank and block.settings.button_text != blank %}
                        <a href="{{ block.settings.link }}" class="tf-btn animate-btn">{{ block.settings.button_text }}</a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {% if section.settings.show_pagination %}
          <div class="d-flex d-xl-none sw-dot-default sw-pagination-banner-swiper justify-content-center"></div>
        {% endif %}
      </div>
      {% if section.settings.show_arrows %}
        <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-banner-swiper"></div>
        <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-banner-swiper"></div>
      {% endif %}
    </div>
  </div>
</section>
<!-- /Banner Swiper -->

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
