{% schema %}
{
  "name": "t:sections.collection_slider.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.collection_slider.settings.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.collection_slider.settings.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.collection_slider.settings.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "t:sections.collection_slider.settings.title_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.collection_slider.settings.title_alignment.options.default"
        },
        {
          "value": "center",
          "label": "t:sections.collection_slider.settings.title_alignment.options.center"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.collection_slider.settings.title.label",
      "default": "t:sections.collection_slider.settings.title.default"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "t:sections.collection_slider.settings.title_tag.label",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.collection_slider.settings.title_tag.options.small"
        },
        {
          "value": "h4",
          "label": "t:sections.collection_slider.settings.title_tag.options.medium"
        },
        {
          "value": "h3",
          "label": "t:sections.collection_slider.settings.title_tag.options.large"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "t:sections.collection_slider.settings.title_font.label",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "font-main",
          "label": "Poppins"
        },
        {
          "value": "font-2",
          "label": "Albert Sans"
        },
        {
          "value": "font-3",
          "label": "Playfair Display"
        },
        {
          "value": "font-4",
          "label": "DM Sans"
        },
        {
          "value": "font-5",
          "label": "Baloo"
        },
        {
          "value": "font-6",
          "label": "Be Vietnam Pro"
        },
        {
          "value": "font-7",
          "label": "Oswald"
        },
        {
          "value": "font-8",
          "label": "Grandstander"
        },
        {
          "value": "font-9",
          "label": "Jost"
        },
        {
          "value": "font-10",
          "label": "Agbalumo"
        },
        {
          "value": "font-11",
          "label": "Manrope"
        },
        {
          "value": "font-12",
          "label": "Open Sans"
        },
        {
          "value": "font-13",
          "label": "Inter"
        },
        {
          "value": "font-14",
          "label": "Gloock"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "t:sections.collection_slider.settings.collection_settings.content"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:sections.collection_slider.settings.collection_list.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "t:sections.collection_slider.settings.show_collection_title.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.collection_slider.settings.slider_settings.content"
    },
    {
      "type": "checkbox",
      "id": "show_mobile_dots",
      "label": "t:sections.collection_slider.settings.show_mobile_dots.label",
      "default": true
    },
    {
      "type": "select",
      "id": "slides_per_view_desktop",
      "label": "t:sections.collection_slider.settings.slides_per_view_desktop.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "slides_per_view_tablet",
      "label": "t:sections.collection_slider.settings.slides_per_view_tablet.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "slides_per_view_mobile",
      "label": "t:sections.collection_slider.settings.slides_per_view_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "space_between_desktop",
      "min": 0,
      "max": 50,
      "step": 1,
      "label": "t:sections.collection_slider.settings.space_between_desktop.label",
      "default": 24
    },
    {
      "type": "range",
      "id": "space_between_tablet",
      "min": 0,
      "max": 30,
      "step": 1,
      "label": "t:sections.collection_slider.settings.space_between_tablet.label",
      "default": 12
    },
    {
      "type": "range",
      "id": "space_between_mobile",
      "min": 0,
      "max": 20,
      "step": 1,
      "label": "t:sections.collection_slider.settings.space_between_mobile.label",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.collection_slider.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.collection_slider.settings.padding_mobile_rate.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_slider.presets.name",
      "category": "t:sections.collection_slider.presets.category"
    }
  ]
}
{% endschema %}

{% style %}
  .section-{{ section.id }}-padding {
          padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
          padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
      }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
{% endstyle %}

<section class="flat-spacing-3 pt-0 color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="{{ section.settings.width }}">
    {% if section.settings.title != blank %}
      <div class="flat-title {% if section.settings.title_alignment == 'center' %} text-center{% else %} text-start{% endif %}">
          <{{ section.settings.title_tag }} class="title {{ section.settings.title_font }}" style="color: rgb(var(--color-foreground2));">
            {{- section.settings.title -}}
          </{{ section.settings.title_tag }}>
      </div>
    {% endif %}

    <div class="fl-control-sw2">
      <div 
        dir="ltr" 
        class="swiper tf-swiper wow fadeInUp" 
        data-swiper='{
          "slidesPerView": {{ section.settings.slides_per_view_mobile | plus: 0 }},
          "spaceBetween": {{ section.settings.space_between_mobile }},
          "speed": 800,
          "observer": true,
          "observeParents": true,
          "slidesPerGroup": {{ section.settings.slides_per_view_mobile | plus: 0 }},
          "navigation": { "enabled": false },
          "pagination": { 
            "el": ".sw-pagination-cls", 
            "clickable": true,
            "enabled": {{ section.settings.show_mobile_dots | json }}
          },
          "breakpoints": {
            "575": { 
              "slidesPerView": {{ section.settings.slides_per_view_mobile | plus: 0 }}, 
              "spaceBetween": {{ section.settings.space_between_mobile }},
              "slidesPerGroup": {{ section.settings.slides_per_view_mobile | plus: 0 }}
            },
            "768": { 
              "slidesPerView": {{ section.settings.slides_per_view_tablet | plus: 0 }}, 
              "spaceBetween": {{ section.settings.space_between_tablet }},
              "slidesPerGroup": {{ section.settings.slides_per_view_tablet | plus: 0 }}
            },
            "1200": { 
              "slidesPerView": {{ section.settings.slides_per_view_desktop | plus: 0 }}, 
              "spaceBetween": {{ section.settings.space_between_desktop }},
              "slidesPerGroup": {{ section.settings.slides_per_view_desktop | plus: 0 }}
            }
          }
        }'
      >
        <div class="swiper-wrapper">
          {% for collection in section.settings.collection_list %}
            <div class="swiper-slide">
              <div class="wg-cls style-abs{% unless section.settings.slides_per_view_desktop == '4' %} asp-1{% endunless %} hover-img">
                <a href="{{ collection.url }}" class="image img-style d-block">
                  {% if collection.image != blank %}
                    <img 
                      src="{{ collection.image | image_url: width: 600 }}"
                      srcset="
                        {{ collection.image | image_url: width: 400 }} 400w,
                        {{ collection.image | image_url: width: 600 }} 600w,
                        {{ collection.image | image_url: width: 800 }} 800w
                      "
                      sizes="(min-width: 1200px) calc((100vw - 48px) / 3), (min-width: 768px) calc((100vw - 24px) / 3), calc((100vw - 12px) / 2)"
                      alt="{{ collection.title | escape }}"
                      width="{{ collection.image.width | default: 600 }}"
                      height="{{ collection.image.height | default: 600 }}"
                      loading="lazy"
                    >
                  {% else %}
                    {{ 'collection-1' | placeholder_svg_tag }}
                  {% endif %}
                </a>
                {% if section.settings.show_collection_title %}
                  <div class="cls-btn text-center">
                    <a href="{{ collection.url }}" class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                      {{ collection.title }}
                      <i class="icon icon-arrow-top-left"></i>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% if section.settings.show_mobile_dots %}
          <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
