{%- liquid
  assign spacing_icon_and_heading = ''
  case section.settings.icon_gap
    when 'medium'
      assign spacing_icon_and_heading = spacing_icon_and_heading | append: 'mb-3'
    when 'large'
      assign spacing_icon_and_heading = spacing_icon_and_heading | append: 'mb-5'
  endcase
-%}

<style>
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media (max-width: 767px) {
    .flat-spacing-3 {
      padding-top: {{ section.settings.padding_top | times: section.settings.padding_mobile_rate | divided_by: 100 }}px !important;
      padding-bottom: {{ section.settings.padding_bottom | times: section.settings.padding_mobile_rate | divided_by: 100 }}px !important;
    }
    .tf-icon-box .icon {
      width: var(--icon-w-mobile) !important;
      height: var(--icon-w-mobile) !important;
    }
    .tf-icon-box .icon svg {
      width: var(--icon-w-mobile) !important;
      height: var(--icon-w-mobile) !important;
    }
  }
</style>

<div
  class="flat-spacing-3 section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
  style="--icon-w-mobile: {{ section.settings.icon_w_mobile | default: 30 }}px;"
>
  <div class="{% if section.settings.width == 'boxed' %}container{% else %}container-full{% endif %}">
    {% if section.settings.heading != blank %}
      <div class="flat-title" style="text-align: {{ section.settings.heading_align }} !important; margin-bottom: {{ section.settings.heading_mb }}px;">
        {% if section.settings.heading_size == 'small' %}
          <h5 class="title">
            {{ section.settings.heading }}
          </h5>
        {% elsif section.settings.heading_size == 'large' %}
          <h3 class="title">
            {{ section.settings.heading }}
          </h3>
        {% else %}
          <h4 class="title">
            {{ section.settings.heading }}
          </h4>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <p
            class="{% if section.settings.subtitle_size == 'small' %}text-sm{% elsif section.settings.subtitle_size == 'medium' %}text-md{% elsif section.settings.subtitle_size == 'large' %}text-lg{% endif %}"
            style="color: rgb(var(--color-foreground2));"
          >
            {{ section.settings.subtitle }}
          </p>
        {% endif %}
      </div>
    {% endif %}
    <div
      dir="ltr"
      class="swiper tf-swiper"
      data-swiper='
        {
          "slidesPerView": 1,
          "spaceBetween": 12,
          "speed": 800,
          "preventInteractionOnTransition": false,
          "touchStartPreventDefault": false,
          {% if section.settings.mobile_dots %}"pagination": { "el": ".sw-pagination-iconbox", "clickable": true },{% endif %}
          "breakpoints": {
            "0": { "slidesPerView": {{ section.settings.cols_mobile | plus: 0 }}, "spaceBetween": 12 },
            "576": { "slidesPerView": {{ section.settings.cols_mobile | plus: 0 }}, "spaceBetween": 12 },
            "768": { "slidesPerView": {{ section.settings.cols_tablet | plus: 0 }}, "spaceBetween": 24 },
            "1200": { "slidesPerView": {{ section.settings.cols_desktop | plus: 0 }}, "spaceBetween": 34 }
          }
        }
      '
    >
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            <div
              class="tf-icon-box radius-16 color-{{ block.settings.color_scheme | default: section.settings.color_scheme }} style-4"
              style="--icon-gap: {{ section.settings.icon_gap }}px; --text-gap: {{ section.settings.text_gap }}px; --icon-w-mobile: {{ block.settings.icon_w_mobile | default: 30 }}px;"
              data-wow-delay=".{{ forloop.index0 }}s"
            >
              {%- liquid
                assign icon_width = block.settings.icon_w | default: 30
              -%}

              {% if block.settings.custom_svg != blank %}
                <div
                  class="icon {% if section.settings.icon_gap == 'small' %}mb-2{% elsif section.settings.icon_gap == 'medium' %}mb-3{% elsif section.settings.icon_gap == 'large' %}mb-5{% endif %}"
                  style="width: {{ icon_width }}px; height: {{ icon_width }}px;"
                >
                  {{ block.settings.custom_svg }}
                </div>
              {% elsif block.settings.icon != 'none' and block.settings.icon != blank %}
                <div
                  class="icon {% if section.settings.icon_gap == 'small' %}mb-2{% elsif section.settings.icon_gap == 'medium' %}mb-3{% elsif section.settings.icon_gap == 'large' %}mb-5{% endif %}"
                  style="width: {{ icon_width }}px; height: {{ icon_width }}px;"
                >
                  {%- case block.settings.icon -%}
                    {%- when 'quality' -%}
                      <img
                        src="{{ 'icon-quality.svg' | asset_url }}"
                        alt="Quality icon"
                        width="64"
                        height="64"
                      >
                    {%- when 'shop' -%}
                      <img
                        src="{{ 'icon-shop.svg' | asset_url }}"
                        alt="Shop icon"
                        width="64"
                        height="64"
                      >
                    {%- when 'prices' -%}
                      <img
                        src="{{ 'icon-prices.svg' | asset_url }}"
                        alt="Prices icon"
                        width="64"
                        height="64"
                      >
                  {%- endcase -%}
                </div>
              {% endif %}

              <div class="content">
                {% if block.settings.heading != blank %}
                  <div class="text-xl fw-medium {% if section.settings.text_gap == 'small' %}mb-2{% elsif section.settings.text_gap == 'medium' %}mb-3{% elsif section.settings.text_gap == 'large' %}mb-5{% endif %} {% if section.settings.heading_uppercase %}text-uppercase{% endif %}">
                    {{ block.settings.heading }}
                  </div>
                {% endif %}
                {% if block.settings.content != blank %}
                  <div class="text-md" style="color: rgb(var(--color-foreground2));">{{ block.settings.content }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if section.settings.mobile_dots %}
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-iconbox justify-content-center"></div>
      {% endif %}
    </div>
  </div>
</div>
<!-- /Icon box -->

{% schema %}
{
  "name": "Color Icon Box",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.color-icon-box.settings.layout_options.content"
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.color-icon-box.settings.width.options.boxed"
        },
        {
          "value": "full",
          "label": "t:sections.color-icon-box.settings.width.options.full"
        }
      ],
      "default": "boxed",
      "label": "t:sections.color-icon-box.settings.width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.color-icon-box.settings.color_scheme.label",
      "default": "background-1"
    },

    {
      "type": "header",
      "content": "t:sections.color-icon-box.settings.heading_options.content"
    },
    { "type": "text", "id": "heading", "label": "t:sections.color-icon-box.settings.heading.label" },
    {
      "type": "select",
      "id": "heading_align",
      "label": "t:sections.color-icon-box.settings.heading_align.label",
      "options": [
        { "value": "left", "label": "t:sections.color-icon-box.settings.heading_align.options.default" },
        { "value": "center", "label": "t:sections.color-icon-box.settings.heading_align.options.center" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.color-icon-box.settings.heading_size.label",
      "options": [
        { "value": "small", "label": "t:sections.common.size.small" },
        { "value": "medium", "label": "t:sections.common.size.medium" },
        { "value": "large", "label": "t:sections.common.size.large" }
      ],
      "default": "medium"
    },
    { "type": "text", "id": "subtitle", "label": "t:sections.color-icon-box.settings.subtitle.label" },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "t:sections.color-icon-box.settings.subtitle_size.label",
      "options": [
        { "value": "small", "label": "t:sections.common.size.small" },
        { "value": "medium", "label": "t:sections.common.size.medium" },
        { "value": "large", "label": "t:sections.common.size.large" }
      ],
      "default": "medium"
    },
    {
      "type": "range",
      "id": "heading_mb",
      "label": "t:sections.color-icon-box.settings.heading_mb.label",
      "min": 0,
      "max": 80,
      "step": 2,
      "default": 24,
      "unit": "px"
    },

    {
      "type": "header",
      "content": "t:sections.color-icon-box.settings.item_options.content"
    },
    {
      "type": "select",
      "id": "icon_gap",
      "label": "t:sections.color-icon-box.settings.icon_gap.label",
      "options": [
        { "value": "none", "label": "t:sections.common.size.none" },
        { "value": "small", "label": "t:sections.common.size.small" },
        { "value": "medium", "label": "t:sections.common.size.medium" },
        { "value": "large", "label": "t:sections.common.size.large" }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "heading_uppercase",
      "label": "t:sections.color-icon-box.settings.heading_uppercase.label",
      "default": false
    },
    {
      "type": "select",
      "id": "text_gap",
      "label": "t:sections.color-icon-box.settings.text_gap.label",
      "options": [
        { "value": "none", "label": "t:sections.common.size.none" },
        { "value": "small", "label": "t:sections.common.size.small" },
        { "value": "medium", "label": "t:sections.common.size.medium" },
        { "value": "large", "label": "t:sections.common.size.large" }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "cols_desktop",
      "label": "t:sections.color-icon-box.settings.cols_desktop.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "cols_tablet",
      "label": "t:sections.color-icon-box.settings.cols_tablet.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "cols_mobile",
      "label": "t:sections.color-icon-box.settings.cols_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "mobile_dots",
      "label": "t:sections.color-icon-box.settings.mobile_dots.label",
      "default": true
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.heading-with-text-horizontal.settings.padding_top.label",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.heading-with-text-horizontal.settings.padding_bottom.label",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.heading-with-text-horizontal.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.heading-with-text-horizontal.settings.padding_mobile_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "t:sections.color-icon-box.blocks.item.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.color-icon-box.blocks.item.settings.color_scheme.label"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.color-icon-box.blocks.item.settings.icon.label",
          "default": "none",
          "options": [
            { "value": "none", "label": "t:sections.color-icon-box.blocks.item.settings.icon.options.none" },
            { "value": "quality", "label": "t:sections.color-icon-box.blocks.item.settings.icon.options.quality" },
            { "value": "shop", "label": "t:sections.color-icon-box.blocks.item.settings.icon.options.shop" },
            { "value": "prices", "label": "t:sections.color-icon-box.blocks.item.settings.icon.options.prices" }
          ]
        },
        {
          "type": "textarea",
          "id": "custom_svg",
          "label": "t:sections.color-icon-box.blocks.item.settings.custom_svg.label",
          "info": "t:sections.color-icon-box.blocks.item.settings.custom_svg.info"
        },
        {
          "type": "range",
          "id": "icon_w",
          "label": "t:sections.color-icon-box.blocks.item.settings.icon_w.label",
          "min": 24,
          "max": 64,
          "step": 1,
          "default": 30,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "icon_w_mobile",
          "label": "t:sections.color-icon-box.blocks.item.settings.icon_w_mobile.label",
          "min": 24,
          "max": 64,
          "step": 1,
          "default": 30,
          "unit": "px"
        },
        { "type": "text", "id": "heading", "label": "t:sections.color-icon-box.blocks.item.settings.heading.label" },
        { "type": "textarea", "id": "content", "label": "t:sections.color-icon-box.blocks.item.settings.content.label" }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.color-icon-box.presets.name",
      "category": "t:sections.color-icon-box.presets.category",
      "settings": {
        "heading": "Why Shop With Us?"
      },
      "blocks": [
        {
          "type": "item",
          "settings": {
            "color_scheme": "scheme-1954cf34-6369-4206-b280-f633822c1a6f",
            "icon": "quality",
            "custom_svg": "",
            "icon_w": 64,
            "icon_w_mobile": 30,
            "heading": "Quality Products",
            "content": "<p>Only the freshest ingredients for your table.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "color_scheme": "scheme-08d89d2c-a815-407b-a174-bbae5707e4c5",
            "icon": "shop",
            "custom_svg": "",
            "icon_w": 64,
            "icon_w_mobile": 30,
            "heading": "Convenient Shopping",
            "content": "<p>Easy and quick delivery straight to your door.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "color_scheme": "scheme-2006ee92-b918-4b6e-8425-b5cf6a38f549",
            "icon": "prices",
            "custom_svg": "",
            "icon_w": 64,
            "icon_w_mobile": 30,
            "heading": "Affordable Prices",
            "content": "<p>Great value on all your daily </p><p>essentials.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
