{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="s-contact flat-spacing-13 color-{{ section.settings.color_scheme }} background-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
>
  <div class="">
    <div class="{% if section.settings.width == 'boxed' %}container{% else %}container-full{% endif %}">
      <div class="row">
        <div class="col-lg-6">
          <div class="content-left">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'heading' %}
                  <div class="title fw-medium display-md-2" {{ block.shopify_attributes }}>
                    {{ block.settings.title }}
                  </div>

                {% when 'subheading' %}
                  <p class="sub-title text-main" {{ block.shopify_attributes }}>
                    {{
                      block.settings.subheading
                    }}
                  </p>

                {% when 'contact_info' %}
                  <ul class="contact-list" {{ block.shopify_attributes }}>
                    {% if block.settings.address != blank %}
                      <li>
                        <p>
                          {{ 'sections.contact-form-with-text.contact_info.address_label' | t }}:
                          {% if block.settings.address_url != blank %}
                            <a class="link" href="{{ block.settings.address_url }}" target="_blank">
                              {{ block.settings.address }}
                            </a>
                          {% else %}
                            <span>{{ block.settings.address }}</span>
                          {% endif %}
                        </p>
                      </li>
                    {% endif %}

                    {% if block.settings.phone != blank %}
                      <li>
                        <p>
                          {{ 'sections.contact-form-with-text.contact_info.phone_label' | t }}:
                          <a class="link" href="tel:{{ block.settings.phone }}">
                            {{ block.settings.phone }}
                          </a>
                        </p>
                      </li>
                    {% endif %}

                    {% if block.settings.email != blank %}
                      <li>
                        <p>
                          {{ 'sections.contact-form-with-text.contact_info.email_label' | t }}:
                          <a class="link" href="mailto:{{ block.settings.email }}">
                            {{ block.settings.email }}
                          </a>
                        </p>
                      </li>
                    {% endif %}

                    {% if block.settings.hours != blank %}
                      <li>
                        <p>
                          {{ 'sections.contact-form-with-text.contact_info.hours_label' | t }}:
                          <span class="text-main">
                            {{ block.settings.hours }}
                          </span>
                        </p>
                      </li>
                    {% endif %}
                  </ul>

                {% when 'socials' %}
                  <ul
                    class="tf-social-icon style-large social-size-{{ block.settings.socials_size }} social-style-{{ block.settings.socials_style }}"
                    {{ block.shopify_attributes }}
                  >
                    {% if settings.social_facebook_link != blank %}
                      <li>
                        <a href="{{ settings.social_facebook_link }}" class="social-item social-facebook">
                          <i class="icon icon-fb"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_instagram_link != blank %}
                      <li>
                        <a href="{{ settings.social_instagram_link }}" class="social-item social-instagram">
                          <i class="icon icon-instagram"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                      <li>
                        <a href="{{ settings.social_twitter_link }}" class="social-item social-x">
                          <i class="icon icon-x"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_snapchat_link != blank %}
                      <li>
                        <a href="{{ settings.social_snapchat_link }}" class="social-item social-snapchat">
                          <i class="icon icon-snapchat"></i>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content-right">
            <div class="title fw-medium display-md-2">
              {{ section.settings.form_heading }}
            </div>
            <p class="sub-title text-main">
              {{
                section.settings.form_subheading
              }}
            </p>
            <div class="form-contact-wrap">
              {% form 'contact' %}
                {% if form.posted_successfully? %}
                  <div class="form-success">
                    <p>{{ 'sections.contact-form-with-text.form.success_message' | t }}</p>
                  </div>
                {% endif %}

                {% if form.errors %}
                  <div class="form-errors">
                    {{ form.errors }}
                  </div>
                {% endif %}

                <div class="form-default">
                  <div class="wrap">
                    <div class="cols">
                      <fieldset>
                        <label for="ContactFormName">{{ 'sections.contact-form-with-text.form.name_label' | t }}</label>
                        <input id="ContactFormName" type="text" name="contact[name]" value="{{ form.name }}" required>
                      </fieldset>
                      <fieldset>
                        <label for="ContactFormEmail">{{ 'sections.contact-form-with-text.form.email_label' | t }}</label>
                        <input
                          id="ContactFormEmail"
                          type="email"
                          name="contact[email]"
                          value="{{ form.email }}"
                          required
                        >
                      </fieldset>
                    </div>
                    <div class="cols">
                      <fieldset class="textarea">
                        <label for="ContactFormMessage">{{ 'sections.contact-form-with-text.form.message_label' | t }}</label>
                        <textarea id="ContactFormMessage" name="contact[body]" required>{{ form.body }}</textarea>
                      </fieldset>
                    </div>
                    <div class="button-submit">
                      <button class="tf-btn animate-btn" type="submit">{{ 'sections.contact-form-with-text.form.submit_button' | t }}</button>
                    </div>
                  </div>
                </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.contact-form-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.contact-form-with-text.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.contact-form-with-text.settings.boxed.label"
        },
        {
          "value": "full",
          "label": "t:sections.contact-form-with-text.settings.full_width.label"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.contact-form-with-text.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "form_heading",
      "label": "t:sections.contact-form-with-text.settings.form_heading.label",
      "default": "Get In Touch"
    },
    {
      "type": "textarea",
      "id": "form_subheading",
      "label": "t:sections.contact-form-with-text.settings.form_subheading.label",
      "default": "Please submit all general enquiries in the contact form below and we look forward to hearing from you soon."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.contact-form-with-text.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.contact-form-with-text.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.contact-form-with-text.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.contact-form-with-text.settings.padding_mobile_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.contact-form-with-text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.contact-form-with-text.blocks.heading.settings.title.label",
          "default": "t:sections.contact-form-with-text.blocks.heading.settings.title.default"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.contact-form-with-text.blocks.subheading.name",
      "settings": [
        {
          "type": "textarea",
          "id": "subheading",
          "label": "t:sections.contact-form-with-text.blocks.subheading.settings.subheading.label",
          "default": "t:sections.contact-form-with-text.blocks.subheading.settings.subheading.default"
        }
      ]
    },
    {
      "type": "contact_info",
      "name": "t:sections.contact-form-with-text.blocks.contact_info.name",
      "settings": [
        {
          "type": "text",
          "id": "address",
          "label": "t:sections.contact-form-with-text.blocks.contact_info.settings.address.label",
          "default": "t:sections.contact-form-with-text.blocks.contact_info.settings.address.default"
        },
        {
          "type": "url",
          "id": "address_url",
          "label": "t:sections.contact-form-with-text.blocks.contact_info.settings.address_url.label"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "t:sections.contact-form-with-text.blocks.contact_info.settings.phone.label",
          "default": "t:sections.contact-form-with-text.blocks.contact_info.settings.phone.default"
        },
        {
          "type": "text",
          "id": "email",
          "label": "t:sections.contact-form-with-text.blocks.contact_info.settings.email.label",
          "default": "t:sections.contact-form-with-text.blocks.contact_info.settings.email.default"
        },
        {
          "type": "text",
          "id": "hours",
          "label": "t:sections.contact-form-with-text.blocks.contact_info.settings.hours.label",
          "default": "8am - 7pm, Mon - Sat"
        }
      ]
    },
    {
      "type": "socials",
      "name": "t:sections.contact-form-with-text.blocks.socials.name",
      "settings": [
        {
          "type": "select",
          "id": "socials_style",
          "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_style.label",
          "default": "simple",
          "options": [
            {
              "value": "default",
              "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_style.options__1.label"
            },
            {
              "value": "outline",
              "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_style.options__2.label"
            },
            {
              "value": "simple",
              "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_style.options__3.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "socials_size",
          "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_size.label",
          "options": [
            {
              "value": "small",
              "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.contact-form-with-text.blocks.socials.settings.social_size.options__3.label"
            }
          ],
          "default": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form-with-text.presets.default",
      "category": "Contact",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "subheading"
        },
        {
          "type": "contact_info"
        },
        {
          "type": "socials"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  .tf-social-icon.social-size-medium .social-item {
    width: 30px;
    height: 30px;
    border-color: var(--line);
    font-size: 16px !important;
    color: #383d38;
  }

  .tf-social-icon.social-size-large .social-item {
    width: 38px;
    height: 38px;
    border-color: var(--line);
    font-size: 18px !important;
    color: #383d38;
  }
  .tf-social-icon.social-size-small .social-item {
    width: 25px;
    height: 25px;
    border-color: var(--line);
    font-size: 14px !important;
    color: #383d38;
  }

  .tf-social-icon.social-style-outline .social-item {
    border-color: var(--line-5);
    background-color: transparent;
  }

  .tf-social-icon.social-style-simple .social-item {
    border: none;
    background-color: transparent;
  }

  .color-{{ section.settings.color_scheme }} .tf-btn.animate-btn {
    background-color: rgb(var(--color-button)) !important;
    color: rgb(var(--color-button-text)) !important;
    border-color: rgb(var(--color-button)) !important;
  }

  .color-{{ section.settings.color_scheme }} .tf-btn.animate-btn:hover {
    background-color: rgba(var(--color-button), 0.8) !important;
    border-color: rgba(var(--color-button), 0.8) !important;
  }

  .color-{{ section.settings.color_scheme }} .sub-title,
  .color-{{ section.settings.color_scheme }} .contact-text,
  .color-{{ section.settings.color_scheme }} .contact-list a,
  .color-{{ section.settings.color_scheme }} .contact-list span {
    color: rgba(var(--color-foreground), 0.75) !important;
  }
{% endstyle %}
