{%- liquid
  assign cookie_message = section.settings.cookie_message
  assign privacy_policy_url = section.settings.privacy_policy_url
  assign accept_button_text = section.settings.accept_button_text
  assign privacy_button_text = section.settings.privacy_button_text
-%}

  <div class="cookie-banner" id="cookie-banner" data-section-id="{{ section.id }}" data-section-type="cookies-popup" data-show-banner="{{ section.settings.show_cookie_banner }}">
    <div class="overlay"></div>
    <div class="content">
      <p class="text-md">{{ cookie_message | default: 'The cookie settings on this website are set to "allow all cookies" to give you the very best experience. Please click Accept Cookies to continue to use the site.' }}</p>
      <div class="button-group">
        {%- if privacy_policy_url != blank -%}
          <a class="btn-out-line-white btn-submit-total tf-btn" href="{{ privacy_policy_url }}">
            {{ privacy_button_text | default: 'Privacy Policy' }}
          </a>
        {%- endif -%}
        <button id="accept-cookie" class="accept-button btn-out-line-white btn-submit-total tf-btn">
          {{ accept_button_text | default: 'Accept Cookies' }}
        </button>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Cookies Popup",
  "settings": [
    {
      "type": "paragraph",
      "content": "Under EU privacy regulations, websites must make it clear to visitors what information about them is being stored. This specifically includes cookies."
    },
    {
      "type": "paragraph", 
      "content": "Turn on this option and user will see info box at the bottom of the page that your web-site is using cookies."
    },
    {
      "type": "paragraph",
      "content": "You can add a cookie compliance banner to your theme to allow customers to consent to tracking of non-essential cookies."
    },
    {
      "type": "paragraph",
      "content": "This allows customers to consent to relevant, region-specific, tracking laws such as GDPR and CCPA."
    },
    {
      "type": "paragraph",
      "content": "If you're a merchant operating in or with customers from the EU, EEA, UK, or Switzerland, you need to collect customer consent before installing cookies or gathering data."
    },
    {
      "type": "paragraph",
      "content": "Cookies are stored on the customer's computer or mobile device, which means your online store is required to ask customers for their consent before loading analytics cookies."
    },
    {
      "type": "radio",
      "id": "show_cookie_banner",
      "label": "Show cookie banner",
      "options": [
        {
          "value": "all_regions",
          "label": "All regions"
        },
        {
          "value": "targeted_regions",
          "label": "Targeted regions for limited data collection"
        }
      ],
      "default": "all_regions"
    },
    {
      "type": "textarea",
      "id": "cookie_message",
      "label": "Cookie message",
      "default": "The cookie settings on this website are set to \"allow all cookies\" to give you the very best experience. Please click Accept Cookies to continue to use the site."
    },
    {
      "type": "text",
      "id": "privacy_button_text",
      "label": "Privacy Policy button text",
      "default": "Privacy Policy"
    },
    {
      "type": "url",
      "id": "privacy_policy_url",
      "label": "Privacy Policy URL"
    },
    {
      "type": "text",
      "id": "accept_button_text",
      "label": "Accept button text",
      "default": "Accept Cookies"
    }
  ],
  "presets": [
    {
      "name": "Cookies Popup"
    }
  ]
}
{% endschema %}