{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {% comment %} Other content block color styling {% endcomment %}
  {% for block in section.blocks %}
    {% if block.type == 'other_content' %}
      {% if block.settings.heading_color != blank and block.settings.heading_color != 'rgba(0,0,0,0)' %}
        #section-{{ section.id }} .other-content-{{ block.id }} .title {
          color: {{ block.settings.heading_color }} !important;
        }
      {% endif %}
      {% if block.settings.content_color != blank and block.settings.content_color != 'rgba(0,0,0,0)' %}
        #section-{{ section.id }} .other-content-{{ block.id }} .sub {
          color: {{ block.settings.content_color }} !important;
        }
      {% endif %}
    {% endif %}
  {% endfor %}
{%- endstyle -%}

<section
  id="section-{{ section.id }}"
  class="section s-faq flat-spacing-25 color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
>
  <div class="{% if section.settings.width == 'full' %}container-fluid{% else %}container{% endif %}">
    <div class="row">
      {% comment %} Layout based on faq_content_position setting {% endcomment %}
      {% if section.settings.faq_content_position == 'left' %}
        {% comment %} Other content on left, FAQ on right {% endcomment %}
        <div class="col-lg-4">
          {% for block in section.blocks %}
            {% if block.type == 'other_content' %}
              <div class="sb-contact sticky-top other-content-{{ block.id }}" {{ block.shopify_attributes }}>
                {% if block.settings.heading != blank %}
                  <p class="title">{{ block.settings.heading }}</p>
                {% endif %}
                {% if block.settings.content != blank %}
                  <div class="sub">{{ block.settings.content }}</div>
                {% endif %}
                <div class="btn-group">
                  {% if block.settings.solid_button_text != blank %}
                    <a
                      href="{{ block.settings.solid_button_link | default: '#' }}"
                      class="tf-btn btn-fill hover-primary"
                    >
                      {{ block.settings.solid_button_text }}
                    </a>
                  {% endif %}
                  {% if block.settings.white_button_text != blank %}
                    <a
                      href="{{ block.settings.white_button_link | default: '#' }}"
                      class="tf-btn btn-white hover-primary"
                    >
                      {{ block.settings.white_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-lg-8">
          <ul class="faq-list">
            {% assign faq_counter = 0 %}
            {% assign current_accordion_id = '' %}

            {% for block in section.blocks %}
              {% if block.type == 'item_heading' %}
                <li class="faq-item" {{ block.shopify_attributes }}>
                  <p class="name-faq">{{ block.settings.heading }}</p>
                  <div
                    class="faq-wrap"
                    id="accordion{{ block.settings.heading | handleize | capitalize }}{{ forloop.index }}"
                  >
                    {% assign current_accordion_id = block.settings.heading
                      | handleize
                      | capitalize
                      | append: forloop.index
                    %}

                    {% comment %} Look for faq_items that come after this heading {% endcomment %}
                    {% assign heading_index = forloop.index %}
                    {% assign is_first_faq_under_this_heading = true %}
                    {% for inner_block in section.blocks %}
                      {% if forloop.index > heading_index and inner_block.type == 'faq_item' %}
                        {% comment %} Stop if we hit another heading {% endcomment %}
                        {% assign stop_processing = false %}
                        {% for check_block in section.blocks %}
                          {% if forloop.index > heading_index
                            and forloop.index < forloop.parentloop.index
                            and check_block.type == 'item_heading'
                          %}
                            {% assign stop_processing = true %}
                            {% break %}
                          {% endif %}
                        {% endfor %}

                        {% unless stop_processing %}
                          {% assign faq_counter = faq_counter | plus: 1 %}
                          <div class="widget-accordion" {{ inner_block.shopify_attributes }}>
                            <div
                              class="accordion-title{% unless section.settings.enable_auto_open_first and is_first_faq_under_this_heading %} collapsed{% endunless %}"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse{{ current_accordion_id }}{{ faq_counter }}"
                              aria-expanded="{% if section.settings.enable_auto_open_first and is_first_faq_under_this_heading %}true{% else %}false{% endif %}"
                              aria-controls="collapse{{ current_accordion_id }}{{ faq_counter }}"
                              role="button"
                            >
                              <span>{{ inner_block.settings.heading }}</span>
                              <span class="icon icon-arrow-down"></span>
                            </div>
                            <div
                              id="collapse{{ current_accordion_id }}{{ faq_counter }}"
                              class="accordion-collapse collapse{% if section.settings.enable_auto_open_first and is_first_faq_under_this_heading %} show{% endif %}"
                              aria-labelledby="heading{{ faq_counter }}"
                              data-bs-parent="#accordion{{ current_accordion_id }}"
                            >
                              <div class="accordion-body">
                                {{ inner_block.settings.content }}
                              </div>
                            </div>
                          </div>
                          {% assign is_first_faq_under_this_heading = false %}
                        {% endunless %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% else %}
        {% comment %} FAQ on left, Other content on right {% endcomment %}
        <div class="col-lg-8">
          <ul class="faq-list">
            {% assign faq_counter = 0 %}
            {% assign current_accordion_id = '' %}

            {% for block in section.blocks %}
              {% if block.type == 'item_heading' %}
                <li class="faq-item" {{ block.shopify_attributes }}>
                  <p class="name-faq">{{ block.settings.heading }}</p>
                  <div
                    class="faq-wrap"
                    id="accordion{{ block.settings.heading | handleize | capitalize }}{{ forloop.index }}"
                  >
                    {% assign current_accordion_id = block.settings.heading
                      | handleize
                      | capitalize
                      | append: forloop.index
                    %}

                    {% comment %} Look for faq_items that come after this heading {% endcomment %}
                    {% assign heading_index = forloop.index %}
                    {% assign is_first_faq_under_this_heading = true %}
                    {% for inner_block in section.blocks %}
                      {% if forloop.index > heading_index and inner_block.type == 'faq_item' %}
                        {% comment %} Stop if we hit another heading {% endcomment %}
                        {% assign stop_processing = false %}
                        {% for check_block in section.blocks %}
                          {% if forloop.index > heading_index
                            and forloop.index < forloop.parentloop.index
                            and check_block.type == 'item_heading'
                          %}
                            {% assign stop_processing = true %}
                            {% break %}
                          {% endif %}
                        {% endfor %}

                        {% unless stop_processing %}
                          {% assign faq_counter = faq_counter | plus: 1 %}
                          <div class="widget-accordion" {{ inner_block.shopify_attributes }}>
                            <div
                              class="accordion-title{% unless section.settings.enable_auto_open_first and is_first_faq_under_this_heading %} collapsed{% endunless %}"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse{{ current_accordion_id }}{{ faq_counter }}"
                              aria-expanded="{% if section.settings.enable_auto_open_first and is_first_faq_under_this_heading %}true{% else %}false{% endif %}"
                              aria-controls="collapse{{ current_accordion_id }}{{ faq_counter }}"
                              role="button"
                            >
                              <span>{{ inner_block.settings.heading }}</span>
                              <span class="icon icon-arrow-down"></span>
                            </div>
                            <div
                              id="collapse{{ current_accordion_id }}{{ faq_counter }}"
                              class="accordion-collapse collapse{% if section.settings.enable_auto_open_first and is_first_faq_under_this_heading %} show{% endif %}"
                              aria-labelledby="heading{{ faq_counter }}"
                              data-bs-parent="#accordion{{ current_accordion_id }}"
                            >
                              <div class="accordion-body">
                                {{ inner_block.settings.content }}
                              </div>
                            </div>
                          </div>
                          {% assign is_first_faq_under_this_heading = false %}
                        {% endunless %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-4">
          {% for block in section.blocks %}
            {% if block.type == 'other_content' %}
              <div class="sb-contact sticky-top other-content-{{ block.id }}" {{ block.shopify_attributes }}>
                {% if block.settings.heading != blank %}
                  <p class="title">{{ block.settings.heading }}</p>
                {% endif %}
                {% if block.settings.content != blank %}
                  <div class="sub">{{ block.settings.content }}</div>
                {% endif %}
                <div class="btn-group">
                  {% if block.settings.solid_button_text != blank %}
                    <a
                      href="{{ block.settings.solid_button_link | default: '#' }}"
                      class="tf-btn btn-fill hover-primary"
                    >
                      {{ block.settings.solid_button_text }}
                    </a>
                  {% endif %}
                  {% if block.settings.white_button_text != blank %}
                    <a
                      href="{{ block.settings.white_button_link | default: '#' }}"
                      class="tf-btn btn-white hover-primary"
                    >
                      {{ block.settings.white_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.faq.settings.width.label",
      "options": [
        { "value": "boxed", "label": "t:sections.faq.settings.width.options.boxed" },
        { "value": "full", "label": "t:sections.faq.settings.width.options.full" }
      ],
      "default": "boxed"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.faq.settings.color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "faq_content_position",
      "label": "t:sections.faq.settings.faq_content_position.label",
      "options": [
        { "value": "left", "label": "t:sections.faq.settings.faq_content_position.options.left" },
        { "value": "right", "label": "t:sections.faq.settings.faq_content_position.options.right" }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "enable_auto_open_first",
      "label": "t:sections.faq.settings.enable_auto_open_first.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.faq.settings.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.faq.settings.padding_bottom.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.faq.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.faq.settings.padding_mobile_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "item_heading",
      "name": "t:sections.faq.blocks.item_heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.faq.blocks.item_heading.settings.heading.label",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "faq_item",
      "name": "t:sections.faq.blocks.faq_item.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.faq.blocks.faq_item.settings.heading.label",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.faq.blocks.faq_item.settings.content.label",
          "default": "<p>Answer content here</p>"
        }
      ]
    },
    {
      "type": "other_content",
      "name": "t:sections.faq.blocks.other_content.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.faq.blocks.other_content.settings.heading.label",
          "default": "Need Help?"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.faq.blocks.other_content.settings.content.label",
          "default": "<p>Additional content here</p>"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content Color"
        },
        {
          "type": "text",
          "id": "solid_button_text",
          "label": "t:sections.faq.blocks.other_content.settings.solid_button_text.label"
        },
        {
          "type": "url",
          "id": "solid_button_link",
          "label": "t:sections.faq.blocks.other_content.settings.solid_button_link.label"
        },
        {
          "type": "text",
          "id": "white_button_text",
          "label": "t:sections.faq.blocks.other_content.settings.white_button_text.label"
        },
        {
          "type": "url",
          "id": "white_button_link",
          "label": "t:sections.faq.blocks.other_content.settings.white_button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.presets.default",
      "category": "Text",
      "blocks": [
        {
          "type": "item_heading",
          "settings": {
            "heading": "Shopping Information"
          }
        },
        {
          "type": "faq_item",
          "settings": {
            "heading": "How long will it take for my order to ship?",
            "content": "<p>If you have an issue or question that requires immediate assistance, you can click the button below to chat live with a Customer Service representative.</p>"
          }
        },
        {
          "type": "faq_item",
          "settings": {
            "heading": "Do you offer free shipping?",
            "content": "<p>If you have an issue or question that requires immediate assistance, you can click the button below to chat live with a Customer Service representative.</p>"
          }
        },
        {
          "type": "faq_item",
          "settings": {
            "heading": "Can I change my shipping address after placing an order?",
            "content": "<p>If you have an issue or question that requires immediate assistance, you can click the button below to chat live with a Customer Service representative.</p>"
          }
        },
        {
          "type": "item_heading",
          "settings": {
            "heading": "Payment Information"
          }
        },
        {
          "type": "faq_item",
          "settings": {
            "heading": "What payment methods do you accept?",
            "content": "<p>We accept all major credit cards, PayPal, and Apple Pay for your convenience.</p>"
          }
        },
        {
          "type": "faq_item",
          "settings": {
            "heading": "How long will it take for my order to ship?",
            "content": "<p>If you have an issue or question that requires immediate assistance, you can click the button below to chat live with a Customer Service representative.</p>"
          }
        },
        {
          "type": "faq_item",
          "settings": {
            "heading": "Do you offer free shipping?",
            "content": "<p>If you have an issue or question that requires immediate assistance, you can click the button below to chat live with a Customer Service representative.</p>"
          }
        },

        {
          "type": "other_content",
          "settings": {
            "heading": "Contact Us",
            "content": "<p>If you have an issue or question that requires immediate assistance, you can click the button below to chat live with a Customer Service representative.</p><p>Please allow 06 - 12 business days from the time your package arrives back to us for a refund to be issued.</p>",
            "solid_button_text": "Contact us",
            "solid_button_link": "/pages/contact",
            "white_button_text": "Chat with us",
            "white_button_link": "#"
          }
        }
      ]
    }
  ]
}
{% endschema %}
