{% schema %}
{
  "name": "t:sections.featured-product-carousel.name",
  "tag": "section",
  "class": "flat-spacing pt-0 pb-0",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.all.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "t:sections.featured-product-carousel.settings.title_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.featured-product-carousel.settings.title_alignment.options.default"
        },
        {
          "value": "center",
          "label": "t:sections.featured-product-carousel.settings.title_alignment.options.center"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-product-carousel.settings.title.label",
      "default": "t:sections.featured-product-carousel.settings.title.default"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "t:sections.featured-product-carousel.settings.title_tag.label",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.featured-product-carousel.settings.title_tag.options.small"
        },
        {
          "value": "h4",
          "label": "t:sections.featured-product-carousel.settings.title_tag.options.medium"
        },
        {
          "value": "h3",
          "label": "t:sections.featured-product-carousel.settings.title_tag.options.large"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "t:sections.featured-product-carousel.settings.title_font.label",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "font-main",
          "label": "Poppins"
        },
        {
          "value": "font-2",
          "label": "Albert Sans"
        },
        {
          "value": "font-3",
          "label": "Playfair Display"
        },
        {
          "value": "font-4",
          "label": "DM Sans"
        },
        {
          "value": "font-5",
          "label": "Baloo"
        },
        {
          "value": "font-6",
          "label": "Be Vietnam Pro"
        },
        {
          "value": "font-7",
          "label": "Oswald"
        },
        {
          "value": "font-8",
          "label": "Grandstander"
        },
        {
          "value": "font-9",
          "label": "Jost"
        },
        {
          "value": "font-10",
          "label": "Agbalumo"
        },
        {
          "value": "font-11",
          "label": "Manrope"
        },
        {
          "value": "font-12",
          "label": "Open Sans"
        },
        {
          "value": "font-13",
          "label": "Inter"
        },
        {
          "value": "font-14",
          "label": "Gloock"
        }
      ],
      "default": ""
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.featured-product-carousel.settings.subtitle.label",
      "default": "t:sections.featured-product-carousel.settings.subtitle.default"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "t:sections.featured-product-carousel.settings.subtitle_size.label",
      "options": [
        {
          "value": "text-sm",
          "label": "t:sections.featured-product-carousel.settings.subtitle_size.options.small"
        },
        {
          "value": "text-md",
          "label": "t:sections.featured-product-carousel.settings.subtitle_size.options.medium"
        },
        {
          "value": "text-lg",
          "label": "t:sections.featured-product-carousel.settings.subtitle_size.options.large"
        }
      ],
      "default": "text-md"
    },
    {
      "type": "select",
      "id": "subtitle_font",
      "label": "t:sections.featured-product-carousel.settings.subtitle_font.label",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "font-main",
          "label": "Poppins"
        },
        {
          "value": "font-2",
          "label": "Albert Sans"
        },
        {
          "value": "font-3",
          "label": "Playfair Display"
        },
        {
          "value": "font-4",
          "label": "DM Sans"
        },
        {
          "value": "font-5",
          "label": "Baloo"
        },
        {
          "value": "font-6",
          "label": "Be Vietnam Pro"
        },
        {
          "value": "font-7",
          "label": "Oswald"
        },
        {
          "value": "font-8",
          "label": "Grandstander"
        },
        {
          "value": "font-9",
          "label": "Jost"
        },
        {
          "value": "font-10",
          "label": "Agbalumo"
        },
        {
          "value": "font-11",
          "label": "Manrope"
        },
        {
          "value": "font-12",
          "label": "Open Sans"
        },
        {
          "value": "font-13",
          "label": "Inter"
        },
        {
          "value": "font-14",
          "label": "Gloock"
        }
      ],
      "default": ""
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "t:sections.featured-product-carousel.settings.featured_collection.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.featured-product-carousel.settings.product_list.label",
      "info": "t:sections.featured-product-carousel.settings.product_list.info"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "Number of products to show"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product-carousel.settings.header__slider.content"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.featured-product-carousel.settings.show_navigation.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots_mobile",
      "label": "t:sections.featured-product-carousel.settings.show_dots_mobile.label",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-product-carousel.settings.products_per_row_desktop.label"
    },
    {
      "type": "range",
      "id": "products_per_row_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-product-carousel.settings.products_per_row_tablet.label"
    },
    {
      "type": "range",
      "id": "products_per_row_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:sections.featured-product-carousel.settings.products_per_row_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.top_bar.settings.padding_mobile_rate.info"
    },
    {
      "type": "range",
      "id": "padding_tablet_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_tablet_rate.label",
      "default": 60,
      "info": "t:sections.top_bar.settings.padding_tablet_rate.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product-carousel.name",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% style %}
  .section-{{ section.id }}-padding {
          padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
          padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
      }

  @media screen and (min-width: 750px) and (max-width: 1199px) {
      .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_tablet_rate | divided_by: 100.0 }});
      padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_tablet_rate | divided_by: 100.0 }});
      }
  }

  @media screen and (min-width: 1200px) {
      .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
  .section-{{ section.id }} .swiper-button-next {
    right: -54px;
  }
  .section-{{ section.id }} .swiper-button-prev {
    left: -54px;
  }
{% endstyle %}

<div class="flat-spacing section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="{{ section.settings.width }}">
    <div class="flat-title style-between align-items-end wow fadeInUp {% if section.settings.title_alignment == 'center' %} text-center{% endif %}">
      <div class="box-title{% if section.settings.title_alignment == 'center' %} w-100{% endif %}">
        <{{ section.settings.title_tag }} class="title {{ section.settings.title_font }}" style="color: rgb(var(--color-foreground));">
          {{- section.settings.title -}}
        </{{ section.settings.title_tag }}>
        {% if section.settings.subtitle != blank %}
          <p class="desc {{ section.settings.subtitle_size }} {{ section.settings.subtitle_font }}" style="color: rgb(var(--color-foreground2));">
            {{ section.settings.subtitle }}
          </p>
        {% endif %}
      </div>
    </div>
    <div>
      <div
        dir="ltr"
        class="swiper tf-swiper"
        data-swiper='
          {
             "slidesPerView": {{ section.settings.products_per_row_mobile }},
             "spaceBetween": 12,
             "speed": 800,
             "observer": true,
             "observeParents": true,
             "slidesPerGroup": 1,
             {% if section.settings.show_navigation %}
             "navigation": {
               "clickable": true,
               "nextEl": ".nav-next-top-pick",
               "prevEl": ".nav-prev-top-pick"
             },
             {% endif %}
             {% if section.settings.show_dots_mobile %}
             "pagination": {
               "el": ".sw-pagination-top-pick",
               "clickable": true
             },
             {% endif %}
             "breakpoints": {
               "576": {
                 "slidesPerView": {{ section.settings.products_per_row_mobile }},
                 "spaceBetween": 12,
                 "slidesPerGroup": 1
               },
               "768": {
                 "slidesPerView": {{ section.settings.products_per_row_tablet }},
                 "spaceBetween": 12,
                 "slidesPerGroup": 2
               },
               "1200": {
                 "slidesPerView": {{ section.settings.products_per_row_desktop }},
                 "spaceBetween": 24,
                 "slidesPerGroup": 2
               }
             }
          }
        '
      >
        <div class="swiper-wrapper wow fadeInUp">
          {%- if section.settings.product_list != blank -%}
            {%- for product in section.settings.product_list -%}
              <div class="swiper-slide">
                {% comment %} Only first product gets eager loading, others lazy load {% endcomment %}
                {% if forloop.first %}
                  {% render 'product-card',
                    product: product,
                    show_vendor: false,
                    show_rating: true,
                    show_quick_add: true,
                    show_quick_view: true,
                    show_progress_sale: false,
                    loading_priority: 'eager',
                    show_color_swatches: true
                  %}
                {% else %}
                  {% render 'product-card',
                    product: product,
                    show_vendor: false,
                    show_rating: true,
                    show_quick_add: true,
                    show_quick_view: true,
                    show_progress_sale: false,
                    loading_priority: 'lazy',
                    show_color_swatches: true
                  %}
                {% endif %}
              </div>
            {%- endfor -%}
          {%- elsif section.settings.featured_collection != blank -%}
            {%- assign collection = collections[section.settings.featured_collection] -%}
            {%- for product in collection.products limit: section.settings.products_to_show -%}
              <div class="swiper-slide">
                {% comment %} Only first product gets eager loading, others lazy load {% endcomment %}
                {% if forloop.first %}
                  {% render 'product-card',
                    product: product,
                    show_vendor: false,
                    show_rating: true,
                    show_quick_add: true,
                    show_quick_view: true,
                    show_progress_sale: false,
                    loading_priority: 'eager',
                    show_color_swatches: true
                  %}
                {% else %}
                  {% render 'product-card',
                    product: product,
                    show_vendor: false,
                    show_rating: true,
                    show_quick_add: true,
                    show_quick_view: true,
                    show_progress_sale: false,
                    loading_priority: 'lazy',
                    show_color_swatches: true
                  %}
                {% endif %}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
        {% if section.settings.show_dots_mobile %}
          <div class="d-flex d-xl-none sw-dot-default sw-pagination-top-pick justify-content-center"></div>
        {% endif %}
        {% if section.settings.show_navigation %}
          <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-top-pick"></div>
          <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-top-pick"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
