<section class="section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="{{ section.settings.width }}">
    <div class="{% if section.settings.add_spacing %}flat-spacing-{{ section.settings.spacing_value }}{% endif %} {% if section.settings.add_top_line %}line-top{% endif %}">
      <div class="grid-cls grid-cls-v6 wow fadeInUp">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'grid_item' %}
              <div class="item{{ forloop.index }} s-cls radius-{{ section.settings.border_radius }} style-absolute abs-top-center {% if block.settings.hover_image %}hover-img{% endif %}" {{ block.shopify_attributes }}>
                <div class="image img-style {% if forloop.index == 1 %}h-100{% endif %}">
                  {% if block.settings.image %}
                    {{
                      block.settings.image
                      | image_url: width: 1400
                      | image_tag: loading: 'lazy', class: 'lazyload', alt: block.settings.title
                    }}
                  {% else %}
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </div>
                <div class="content">
                  <div class="box-title">
                    <div class="text-white display-lg">
                      {{ block.settings.title }}
                    </div>
                  </div>
                  <div class="box-btn">
                    {% if block.settings.button_style == 'primary' %}
                      <a href="{{ block.settings.link }}" class="tf-btn btn-white hover-primary">
                        {{ block.settings.button_label }}
                        <i class="icon icon-arrow-top-left"></i>
                      </a>
                    {% else %}
                      <a href="{{ block.settings.link }}" class="d-flex align-items-center text-white text-md fw-medium gap-10 link">
                        <span class="text-transform-none">
                          {{ block.settings.button_label }}
                        </span>
                        <i class="icon-arrow-top-left fs-8"></i>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Grid Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "options": [
        {
          "value": "container",
          "label": "Boxed"
        },
        {
          "value": "container-full",
          "label": "Full width"
        }
      ],
      "default": "container-full"
    },
    {
      "type": "checkbox",
      "id": "add_spacing",
      "label": "Add spacing",
      "default": true
    },
    {
      "type": "range",
      "id": "spacing_value",
      "label": "Spacing value",
      "min": 10,
      "max": 50,
      "step": 2,
      "default": 34,
      "unit": ""
    },
    {
      "type": "checkbox",
      "id": "add_top_line",
      "label": "Add top line",
      "default": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 20,
      "unit": ""
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Mobile padding rate",
      "default": 75,
      "info": "Adjusts padding for mobile devices as a percentage of desktop padding"
    }
  ],
  "blocks": [
    {
      "type": "grid_item",
      "name": "Grid Item",
      "limit": 4,
      "settings": [
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "hover_image",
          "label": "Enable hover effect",
          "default": true
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Banner Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View Collection"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary button"
            },
            {
              "value": "link",
              "label": "Text link"
            }
          ],
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Banner",
      "category": "Image",
      "blocks": [
        {
          "type": "grid_item",
          "settings": {
            "title": "New Arrivals",
            "button_label": "View Collection",
            "button_style": "primary"
          }
        },
        {
          "type": "grid_item",
          "settings": {
            "title": "Sneakers",
            "button_label": "Explore Now",
            "button_style": "link"
          }
        },
        {
          "type": "grid_item",
          "settings": {
            "title": "Sandals",
            "button_label": "Explore Now",
            "button_style": "link"
          }
        },
        {
          "type": "grid_item",
          "settings": {
            "title": "Boots",
            "button_label": "Explore Now",
            "button_style": "link"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* Item styling */
  .section-{{ section.id }} .s-cls {
    position: relative;
    overflow: hidden;
    border-radius: {{ section.settings.border_radius }}px;
  }
{% endstyle %}
