<section
  class="s-term-user flat-spacing-2 color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
>
  <div class="{{ section.settings.width }}">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'text_item' %}
                <div class="term-item" {{ block.shopify_attributes }}>
                  {% if block.settings.title != blank %}
                    <p class="term-title">{{ block.settings.title }}</p>
                  {% endif %}
                  {% if block.settings.content != blank %}
                    <div class="text-wrap">
                      {{ block.settings.content | replace: '<p>', '<p class="term-text body-text text-main">' }}
                    </div>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_tablet_rate | divided_by: 100.0 }});
      padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_tablet_rate | divided_by: 100.0 }});
    }
  }

  @media screen and (min-width: 1200px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .color-{{ section.settings.color_scheme }} .term-text a {
    color: rgb(var(--color-button)) !important;
    text-decoration: underline;
  }

  .color-{{ section.settings.color_scheme }} .term-text a:hover {
    color: rgba(var(--color-button), 0.8) !important;
  }

  /* Full width container styling */
  .container-full .content {
    max-width: 100%;
  }
{%- endstyle -%}

{% schema %}
{
  "name": "t:sections.heading-with-text-vertical.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.all.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.heading-with-text-vertical.settings.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.heading-with-text-vertical.settings.padding_bottom.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.heading-with-text-horizontal.settings.padding_mobile_rate.label",
      "default": 50,
      "info": "t:sections.heading-with-text-horizontal.settings.padding_mobile_rate.info"
    },
    {
      "type": "range",
      "id": "padding_tablet_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_tablet_rate.label",
      "default": 60,
      "info": "t:sections.top_bar.settings.padding_tablet_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "text_item",
      "name": "t:sections.heading-with-text-vertical.blocks.text_item.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.heading-with-text-vertical.blocks.text_item.settings.title.label",
          "default": "t:sections.heading-with-text-vertical.blocks.text_item.settings.title.default"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.heading-with-text-vertical.blocks.text_item.settings.content.label",
          "default": "t:sections.heading-with-text-vertical.blocks.text_item.settings.content.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.heading-with-text-vertical.presets.default",
      "category": "Text",
      "blocks": [
        {
          "type": "text_item",
          "settings": {
            "title": "Welcome to Our Company",
            "content": "<p>We are a leading company in our industry, providing exceptional services to our customers worldwide. Our team is dedicated to delivering quality and innovation in everything we do.</p>"
          }
        },
        {
          "type": "text_item",
          "settings": {
            "title": "Our Mission",
            "content": "<p>To provide outstanding products and services that exceed customer expectations while maintaining the highest standards of quality and integrity.</p>"
          }
        }
      ]
    }
  ],
  "max_blocks": 20
}
{% endschema %}
