{% schema %}
{
  "name": "t:sections.icon-box.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.all.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "checkbox",
      "id": "icon_position_center",
      "label": "t:sections.icon-box.settings.icon_position_center.label",
      "default": true,
      "visible_if": "{{ section.settings.icon_style == 'default' }}"
    },
    {
      "type": "checkbox",
      "id": "line_top",
      "label": "t:sections.icon-box.settings.line_top.label",
      "info": "t:sections.icon-box.settings.line_top.info",
      "default": true,
      "visible_if": "{{ section.settings.icon_style == 'default' }}"
    },
    {
      "type": "header",
      "content": "t:sections.icon-box.settings.slider_settings.content"
    },
    {
      "type": "checkbox",
      "id": "show_dots_mobile",
      "label": "t:sections.icon-box.settings.show_dots_mobile.label",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.icon-box.settings.products_per_row_desktop.label"
    },
    {
      "type": "range",
      "id": "products_per_row_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.icon-box.settings.products_per_row_tablet.label"
    },
    {
      "type": "range",
      "id": "products_per_row_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:sections.icon-box.settings.products_per_row_mobile.label"
    },
    {
      "type": "select",
      "id": "icon_style",
      "label": "t:sections.icon-box.settings.icon_style.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.icon-box.settings.icon_style.options.default"
        },
        {
          "value": "style-border",
          "label": "t:sections.icon-box.settings.icon_style.options.border"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "t:sections.icon-box.settings.show_border.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.top_bar.settings.padding_mobile_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "icon_box",
      "name": "t:sections.icon-box.blocks.icon_box.name",
      "limit": 8,
      "settings": [
        {
          "type": "select",
          "id": "icon_class",
          "label": "t:sections.icon-box.blocks.icon_box.settings.icon_class.label",
          "options": [
            { "value": "icon-menu", "label": "t:sections.icon-box.icons.menu" },
            { "value": "icon-fill-check-circle", "label": "t:sections.icon-box.icons.check_circle" },
            { "value": "icon-arrow1-left", "label": "t:sections.icon-box.icons.arrow_left" },
            { "value": "icon-arrow-right", "label": "t:sections.icon-box.icons.arrow_right" },
            { "value": "icon-arrow-top-left", "label": "t:sections.icon-box.icons.arrow_top_left" },
            { "value": "icon-arrow-down", "label": "t:sections.icon-box.icons.arrow_down" },
            { "value": "icon-arrow-up", "label": "t:sections.icon-box.icons.arrow_up" },
            { "value": "icon-fashion-body", "label": "t:sections.icon-box.icons.fashion_body" },
            { "value": "icon-precision", "label": "t:sections.icon-box.icons.precision" },
            { "value": "icon-elegance", "label": "t:sections.icon-box.icons.elegance" },
            { "value": "icon-heart3", "label": "t:sections.icon-box.icons.heart" },
            { "value": "icon-order", "label": "t:sections.icon-box.icons.order" },
            { "value": "icon-quote5", "label": "t:sections.icon-box.icons.quote" },
            { "value": "icon-minus", "label": "t:sections.icon-box.icons.minus" },
            { "value": "icon-plus", "label": "t:sections.icon-box.icons.plus" },
            { "value": "icon-location", "label": "t:sections.icon-box.icons.location" },
            { "value": "icon-shipped", "label": "t:sections.icon-box.icons.shipped" },
            { "value": "icon-confirm", "label": "t:sections.icon-box.icons.confirm" },
            { "value": "icon-fire2", "label": "t:sections.icon-box.icons.fire" },
            { "value": "icon-sidebar", "label": "t:sections.icon-box.icons.sidebar" },
            { "value": "icon-video", "label": "t:sections.icon-box.icons.video" },
            { "value": "icon-car2", "label": "t:sections.icon-box.icons.car" },
            { "value": "icon-compare3", "label": "t:sections.icon-box.icons.compare" },
            { "value": "icon-check", "label": "t:sections.icon-box.icons.check" },
            { "value": "icon-eye", "label": "t:sections.icon-box.icons.eye" },
            { "value": "icon-copy", "label": "t:sections.icon-box.icons.copy" },
            { "value": "icon-share", "label": "t:sections.icon-box.icons.share" },
            { "value": "icon-ask", "label": "t:sections.icon-box.icons.ask" },
            { "value": "icon-coupon", "label": "t:sections.icon-box.icons.coupon" },
            { "value": "icon-note", "label": "t:sections.icon-box.icons.note" },
            { "value": "icon-gift2", "label": "t:sections.icon-box.icons.gift" },
            { "value": "icon-pen", "label": "t:sections.icon-box.icons.pen" },
            { "value": "icon-close", "label": "t:sections.icon-box.icons.close" },
            { "value": "icon-mail", "label": "t:sections.icon-box.icons.mail" },
            { "value": "icon-support2", "label": "t:sections.icon-box.icons.support" },
            { "value": "icon-shipping3", "label": "t:sections.icon-box.icons.shipping" },
            { "value": "icon-return3", "label": "t:sections.icon-box.icons.return" },
            { "value": "icon-customer", "label": "t:sections.icon-box.icons.customer" },
            { "value": "icon-return2", "label": "t:sections.icon-box.icons.return" },
            { "value": "icon-shipping2", "label": "t:sections.icon-box.icons.shipping" },
            { "value": "icon-leaf", "label": "t:sections.icon-box.icons.leaf" },
            { "value": "icon-clock", "label": "t:sections.icon-box.icons.clock" },
            { "value": "icon-head-phone", "label": "t:sections.icon-box.icons.headphone" },
            { "value": "icon-categories", "label": "t:sections.icon-box.icons.categories" },
            { "value": "icon-sun", "label": "t:sections.icon-box.icons.sun" },
            { "value": "icon-designs", "label": "t:sections.icon-box.icons.designs" },
            { "value": "icon-fit", "label": "t:sections.icon-box.icons.fit" },
            { "value": "icon-protection", "label": "t:sections.icon-box.icons.protection" },
            { "value": "icon-quality", "label": "t:sections.icon-box.icons.quality" },
            { "value": "icon-flash-star", "label": "t:sections.icon-box.icons.flash_star" },
            { "value": "icon-verifi", "label": "t:sections.icon-box.icons.verify" },
            { "value": "icon-compare", "label": "t:sections.icon-box.icons.compare" },
            { "value": "icon-heart2", "label": "t:sections.icon-box.icons.heart" },
            { "value": "icon-view", "label": "t:sections.icon-box.icons.view" },
            { "value": "icon-cart2", "label": "t:sections.icon-box.icons.cart" },
            { "value": "icon-star", "label": "t:sections.icon-box.icons.star" },
            { "value": "icon-cart", "label": "t:sections.icon-box.icons.cart" },
            { "value": "icon-phone", "label": "t:sections.icon-box.icons.phone" },
            { "value": "icon-heart", "label": "t:sections.icon-box.icons.heart" },
            { "value": "icon-user", "label": "t:sections.icon-box.icons.user" },
            { "value": "icon-search", "label": "t:sections.icon-box.icons.search" },
            { "value": "icon-gift", "label": "t:sections.icon-box.icons.gift" },
            { "value": "icon-return", "label": "t:sections.icon-box.icons.return" },
            { "value": "icon-support", "label": "t:sections.icon-box.icons.support" },
            { "value": "icon-shipping", "label": "t:sections.icon-box.icons.shipping" },
            { "value": "icon-payment", "label": "t:sections.icon-box.icons.payment" },
            { "value": "icon-diamond", "label": "t:sections.icon-box.icons.diamond" },
            { "value": "icon-trash", "label": "t:sections.icon-box.icons.trash" },
            { "value": "icon-clock2", "label": "t:sections.icon-box.icons.clock" }
          ],
          "default": "icon-shipping"
        },
        {
          "type": "textarea",
          "id": "custom_svg",
          "label": "t:sections.icon-box.blocks.icon_box.settings.custom_svg.label",
          "info": "t:sections.icon-box.blocks.icon_box.settings.custom_svg.info"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 20,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "t:sections.icon-box.blocks.icon_box.settings.icon_size.label",
          "default": 28
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.icon-box.blocks.icon_box.settings.title.label",
          "default": "t:sections.icon-box.presets.free_delivery.title"
        },
        {
          "type": "range",
          "id": "title_size",
          "min": 12,
          "max": 32,
          "step": 1,
          "unit": "px",
          "label": "t:sections.icon-box.blocks.icon_box.settings.title_size.label",
          "default": 16
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.icon-box.blocks.icon_box.settings.description.label",
          "default": "t:sections.icon-box.presets.free_delivery.description"
        },
        {
          "type": "range",
          "id": "description_size",
          "min": 10,
          "max": 20,
          "step": 1,
          "unit": "px",
          "label": "t:sections.icon-box.blocks.icon_box.settings.description_size.label",
          "default": 14
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.icon-box.preset.name",
      "category": "t:sections.icon-box.preset.category",
      "blocks": [
        {
          "type": "icon_box",
          "settings": {
            "icon_class": "icon-shipping",
            "title": "t:sections.icon-box.presets.free_delivery.title",
            "description": "t:sections.icon-box.presets.free_delivery.description"
          }
        },
        {
          "type": "icon_box",
          "settings": {
            "icon_class": "icon-payment",
            "title": "t:sections.icon-box.presets.secured_payment.title",
            "description": "t:sections.icon-box.presets.secured_payment.description"
          }
        },
        {
          "type": "icon_box",
          "settings": {
            "icon_class": "icon-return",
            "title": "t:sections.icon-box.presets.easy_returns.title",
            "description": "t:sections.icon-box.presets.easy_returns.description"
          }
        },
        {
          "type": "icon_box",
          "settings": {
            "icon_class": "icon-support",
            "title": "t:sections.icon-box.presets.support.title",
            "description": "t:sections.icon-box.presets.support.description"
          }
        }
      ]
    }
  ]
}
{% endschema %}

<div
  class="{% if section.settings.icon_style == 'default' %}line-top{% endif %} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
  style="{% unless section.settings.line_top %}border-top: none !important;{% endunless %}"
>
  <div class="{{ section.settings.width }}">
    <div{% if section.settings.icon_position_center == true and section.settings.icon_style == 'default' %} class="mw-1 mx-auto"{% endif %}>    
      <div
    dir="ltr"
    class="swiper tf-swiper"
    data-swiper='
      {
          "slidesPerView": {{ section.settings.products_per_row_mobile }},
          "spaceBetween": 12,
          "speed": 800,
          "observer": true,
          "observeParents": true,
          "pagination": { "el": ".sw-pagination-iconbox", "clickable": true },
          "breakpoints": {
              "575": { "slidesPerView": {{ section.settings.products_per_row_mobile }}, "spaceBetween": 12, "slidesPerGroup": {{ section.settings.products_per_row_mobile }}},
              "768": { "slidesPerView": {{ section.settings.products_per_row_tablet }}, "spaceBetween": 24, "slidesPerGroup": {{ section.settings.products_per_row_tablet }}},
              "1200": { "slidesPerView": {{ section.settings.products_per_row_desktop }}, "spaceBetween": 42, "slidesPerGroup": {{ section.settings.products_per_row_desktop }}}
          }
      }
    '>
    <div class="swiper-wrapper wow fadeInUp">
      {% for block in section.blocks %}
        {% if block.type == 'icon_box' %}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            <div class="tf-icon-box {% if section.settings.icon_style == 'style-border' %}style-lg{% elsif section.settings.icon_position_center %} style-2{% else %} style-3{% endif %}">
              <div
                class="box-icon"
                style="--icon-size: {{ block.settings.icon_size | default: 28 }}px; background-color: rgb(var(--color-background2));"
              >
                {% if block.settings.custom_svg != blank %}
                  <div class="icon">{{ block.settings.custom_svg }}</div>
                {% else %}
                  <i class="icon {{ block.settings.icon_class }}"></i>
                {% endif %}
              </div>
              <div class="content">
                {% if block.settings.title != blank %}
                  {% if section.settings.icon_style == 'default' %}
                    <div class="title" style="font-size: {{ block.settings.title_size | default: 16 }}px;">{{ block.settings.title }}</div>
                  {% else %}
                    <h6 style="font-size: {{ block.settings.title_size | default: 16 }}px;">{{ block.settings.title }}</h6>
                  {% endif %}
                {% endif %}
                {% if block.settings.description != blank %}
                  <p
                    class="{% if section.settings.icon_style == 'default' %}desc{% else %}text-sm text-main text-line-clamp-4{% endif %}"
                    style="color: rgb(var(--color-foreground2)); max-width: 400px; font-size: {{ block.settings.description_size | default: 14 }}px;"
                  >
                    {{ block.settings.description }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.show_dots_mobile %}
      <div class="d-flex d-xl-none sw-dot-default sw-pagination-iconbox justify-content-center"></div>
    {% endif %}
  </div>

    </div>
  </div>
</div>
<style>
  .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
      padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
  @media (max-width: 575px) {
    .tf-icon-box.style-3 {
        justify-content: center;
    }
  }

  #shopify-section-{{ section.id }} .tf-icon-box.style-2 .box-icon {
      {% if section.settings.show_border %}border: 1px solid rgb(var(--color-button-outline));{% endif %}
      border-radius: 50%;
  }
  #shopify-section-{{ section.id }} .tf-icon-box.style-3 .box-icon {
      flex-shrink: 0;
      {% if section.settings.show_border %}border: 1px solid rgb(var(--color-button-outline));{% endif %}
      border-radius: 50%;
      width: calc(var(--icon-size, 28px) + 36px);
      height: calc(var(--icon-size, 28px) + 36px);
  }

  #shopify-section-{{ section.id }} .tf-icon-box .box-icon .icon {
      color: rgb(var(--color-button));
  }

  #shopify-section-{{ section.id }} .tf-icon-box.style-lg .box-icon {
      {% if section.settings.show_border %}border: 1px solid rgb(var(--color-button-outline));{% endif %}
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  #shopify-section-{{ section.id }} .tf-icon-box .box-icon .icon {
    font-size: var(--icon-size, 28px);
  }
</style>
