<section class="flat-spacing section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="wg-404 container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
          {% if block.settings.image %}
            <div class="image" {{ block.shopify_attributes }}>
              <img
                src="{{ block.settings.image | image_url: width: 800 }}"
                data-src="{{ block.settings.image | image_url: width: 800 }}"
                alt="404"
                class="lazyload"
                loading="lazy"
                width="800"
                height="600"
              >
            </div>
          {% endif %}

        {% when 'text' %}
          {% if block.settings.text != blank %}
            {%- if block.settings.size == 'small' -%}
              <p class="display-md-2 fw-medium">{{ block.settings.text }}</p>
            {%- elsif block.settings.size == 'medium' -%}
              <p class="display-lg-2 fw-medium">{{ block.settings.text }}</p>
            {%- elsif block.settings.size == 'large' -%}
              <p class="title">{{ block.settings.text }}</p>
            {%- endif -%}
          {% endif %}

        {% when 'text_2' %}
          {%- if block.settings.size == 'small' -%}
            {{ block.settings.text | replace: '<p>', '<p class="text-md sub text-main text-center">' }}
          {%- elsif block.settings.size == 'medium' -%}
            {{ block.settings.text | replace: '<p>', '<p class="text-lg sub text-main text-center">' }}
          {%- elsif block.settings.size == 'large' -%}
            {{ block.settings.text | replace: '<p>', '<p class="text-xl sub text-main text-center">' }}
          {%- endif -%}

        {% when 'button' %}
          {% if block.settings.btn_label != blank %}
            <div class="bot" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.btn_link | default: routes.root_url }}" class="tf-btn btn-fill animate-btn">
                {{ block.settings.btn_label }}
              </a>
            </div>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .text-main {
    color: rgba(var(--color-foreground), 1) !important;
  }
{%- endstyle -%}

{% schema %}
{
  "name": "t:sections.404.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.404.settings.color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_mobile_rate.label",
      "info": "t:sections.all.padding.padding_mobile_rate.info",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.404.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.404.blocks.text.name",
          "default": "Whoops!"
        },
        {
          "type": "select",
          "id": "size",
          "label": "t:sections.404.blocks.text.size",
          "options": [
            { "value": "small", "label": "t:sections.common.size.small" },
            { "value": "medium", "label": "t:sections.common.size.medium" },
            { "value": "large", "label": "t:sections.common.size.large" }
          ],
          "default": "large"
        }
      ]
    },
    {
      "type": "text_2",
      "name": "t:sections.404.blocks.text_2.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.404.blocks.text_2.name",
          "default": "<p>We couldn’t find the page you were looking for.</p>"
        },
        {
          "type": "select",
          "id": "size",
          "label": "t:sections.404.blocks.text_2.size",
          "options": [
            { "value": "small", "label": "t:sections.common.size.small" },
            { "value": "medium", "label": "t:sections.common.size.medium" },
            { "value": "large", "label": "t:sections.common.size.large" }
          ],
          "default": "large"
        }
      ]
    },
    {
      "type": "image",
      "name": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.404.blocks.image.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.404.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "t:sections.404.blocks.button.settings.text.label",
          "default": "Return to Homepage",
          "info": "t:sections.404.blocks.button.settings.text.info"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.404.blocks.button.settings.url.label"
        }
      ]
    }
  ]
}
{% endschema %}
