<style>
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .color-{{ section.settings.color_scheme }} .box-store:hover {
    background-color: rgb(var(--color-background)) !important;
  }
</style>

<section
  class="s-contact section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
>
  <div class="{% if section.settings.width == 'boxed' %} container{% else %} container-full{% endif %}">
    {% if section.settings.heading != blank or section.settings.subtitle != blank%}
      <div class="flat-title wow fadeInUp" style="text-align: {{ section.settings.heading_align }};">
        {% if section.settings.heading != blank %}
          {% if section.settings.heading_size == 'small' %}
            <h5
              class="title"
              style="margin-bottom: {{ section.settings.heading_mb }}px; color: rgb(var(--color-foreground));"
            >
              {{ section.settings.heading }}
            </h5>
          {% elsif section.settings.heading_size == 'large' %}
            <h3
              class="title"
              style="margin-bottom: {{ section.settings.heading_mb }}px; color: rgb(var(--color-foreground));"
            >
              {{ section.settings.heading }}
            </h3>
          {% else %}
            <h4
              class="title"
              style="margin-bottom: {{ section.settings.heading_mb }}px; color: rgb(var(--color-foreground));"
            >
              {{ section.settings.heading }}
            </h4>
          {% endif %}
        {% endif %}
        {% if section.settings.subtitle != blank %}
          {% if section.settings.subtitle_size == 'small' %}
            <p class="desc text-sm " style="color: rgb(var(--color-foreground2), 0.7); white-space: pre-line;">{{ section.settings.subtitle }}</p>
          {% elsif section.settings.subtitle_size == 'large' %}
            <p class="desc text-lg" style="color: rgb(var(--color-foreground2), 0.7); white-space: pre-line;">{{ section.settings.subtitle }}</p>
          {% else %}
            <p class="desc text-md" style="color: rgb(var(--color-foreground2), 0.7); white-space: pre-line;">{{ section.settings.subtitle }}</p>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    <div class="wg-map style-absolute" style="--mobile-ratio: {{ section.settings.padding_mobile_ratio }}%;">
      {% if section.settings.map != blank %}
        {{ section.settings.map }}
      {% else %}
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27294.62418958524!2d151.25730233429948!3d-33.82005608618041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ab8bc95a137f%3A0x358f04a7f6f5f6a6!2sGrotto%20Point%20Lighthouse!5e0!3m2!1sen!2s!4v1733976867160!5m2!1sen!2s"
          class="map"
          style="border:none;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      {% endif %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'contact_info' %}
            <div
              class="box-store box-store-bg style-2 border-0 color-{{ block.settings.color_scheme }} position-{{ block.settings.position }}"
            >
              <h6>{{ block.settings.title }}</h6>
              <ul>
                <li>
                  <a
                    class="link text-sm"
                    href="https://www.google.com/maps?q={{ block.settings.address | url_encode }}"
                    target="_blank"
                  >
                    {{ block.settings.address }}
                  </a>
                </li>
                <li>
                  <a class="link text-sm" href="mailto:{{ block.settings.email }}">
                    {{ block.settings.email }}
                  </a>
                </li>
                <li>
                  <a class="link text-sm" href="tel:{{ block.settings.phone }}">
                    {{ block.settings.phone }}
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <span class=" text-sm">{{ block.settings.hours_weekday }}</span>
                </li>
                <li>
                  <span class=" text-sm">{{ block.settings.hours_weekend }}</span>
                </li>
              </ul>
              <div class="bot">
                <a
                  href="{{ block.settings.button_url }}"
                  class="tf-btn btn-line"
                >
                  <span class="text-sm">{{ block.settings.button_text }}</span>
                  <i class="icon-arrow-top-left fs-8"></i>
                </a>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  @media (max-width: 767px) {
    .wg-map iframe {
      height: 350px !important;
    }
  }

  .wg-map iframe {
    border-radius: 16px;
    overflow: hidden;
    height: 589px;
    width: 100%;
  }

  /* Override default positioning with higher specificity */
  .wg-map.style-absolute .box-store.position-left {
    left: 30px !important;
  }

  @media (min-width: 768px) {
    .wg-map.style-absolute .box-store.position-center {
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }

  .wg-map.style-absolute .box-store.position-right {
    right: 30px !important;
    left: auto !important;
    width: 419px !important;
  }

  @media (max-width: 1200px) {
    .wg-map.style-absolute .box-store.position-left,
    .wg-map.style-absolute .box-store.position-center,
    .wg-map.style-absolute .box-store.position-right {
      left: 73px !important;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "t:sections.map-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.map-with-text.settings.color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.map-with-text.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.map-with-text.settings.width.options.boxed"
        },
        {
          "value": "full",
          "label": "t:sections.map-with-text.settings.width.options.full"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "header",
      "content": "t:sections.map-with-text.settings.heading_options.content"
    },
    { "type": "text", "id": "heading", "label": "t:sections.map-with-text.settings.heading.label" },
    {
      "type": "select",
      "id": "heading_align",
      "label": "t:sections.color-icon-box.settings.heading_align.label",
      "options": [
        { "value": "left", "label": "t:sections.map-with-text.settings.heading_align.options.default" },
        { "value": "center", "label": "t:sections.map-with-text.settings.heading_align.options.center" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.map-with-text.settings.heading_size.label",
      "options": [
        { "value": "small", "label": "t:sections.common.size.small" },
        { "value": "medium", "label": "t:sections.common.size.medium" },
        { "value": "large", "label": "t:sections.common.size.large" }
      ],
      "default": "medium"
    },
    { "type": "textarea", "id": "subtitle", "label": "t:sections.map-with-text.settings.subtitle.label" },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "t:sections.map-with-text.settings.subtitle_size.label",
      "options": [
        { "value": "small", "label": "t:sections.common.size.small" },
        { "value": "medium", "label": "t:sections.common.size.medium" },
        { "value": "large", "label": "t:sections.common.size.large" }
      ],
      "default": "medium"
    },
    {
      "type": "liquid",
      "id": "map",
      "label": "t:sections.map-with-text.settings.source_map.label",
      "info": "t:sections.map-with-text.settings.source_map.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.map-with-text.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.map-with-text.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.map-with-text.settings.padding_mobile_ratio.label",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "contact_info",
      "name": "t:sections.map-with-text.blocks.contact_info.name",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.map-with-text.settings.color_scheme.label",
          "default": "background-1"
        },
        {
          "type": "select",
          "id": "position",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.position.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.map-with-text.blocks.contact_info.settings.position.options.left"
            },
            {
              "value": "center",
              "label": "t:sections.map-with-text.blocks.contact_info.settings.position.options.center"
            },
            {
              "value": "right",
              "label": "t:sections.map-with-text.blocks.contact_info.settings.position.options.right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.title.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.title.default"
        },
        {
          "type": "text",
          "id": "address",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.address.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.address.default"
        },
        {
          "type": "text",
          "id": "email",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.email.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.email.default"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.phone.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.phone.default"
        },
        {
          "type": "text",
          "id": "hours_weekday",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.hours_weekday.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.hours_weekday.default"
        },
        {
          "type": "text",
          "id": "hours_weekend",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.hours_weekend.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.hours_weekend.default"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.button_text.label",
          "default": "t:sections.map-with-text.blocks.contact_info.settings.button_text.default"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:sections.map-with-text.blocks.contact_info.settings.button_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.map-with-text.presets.name",
      "category": "Contact"
    }
  ]
}
{% endschema %}
