{% comment %}
  Mobile Menu Section
  Renders mobile navigation menu that can be configured independently
{% endcomment %}

<div class="offcanvas offcanvas-start canvas-mb color-{{ section.settings.color_scheme }}" id="mobileMenu">
    <button class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="{{ 'general.accessibility.close' | t }}"></button>
    <div class="mb-canvas-content">
        <div class="mb-body">
            <div class="mb-content-top">
                <!-- Search Form -->
                {% if section.settings.show_search %}
                <form class="form-search" action="{{ routes.search_url }}" method="get">
                    <input type="hidden" name="type" value="product">
                    <input type="text" placeholder="{{ section.settings.search_placeholder }}" class="" name="q" tabindex="0" value="{{ search.terms | escape }}" aria-required="true" required="">
                    <button type="submit" aria-label="Search"><i class="icon icon-search" aria-hidden="true"></i></button>
                </form>
                {% endif %}

                <!-- Mobile Navigation Menu -->
                <ul class="nav-ul-mb" id="wrapper-menu-navigation">
                    {% for link in linklists.main-menu.links %}
                      <li class="nav-mb-item">
                        {% if link.links != blank %}
                          <a href="#dropdown-menu-{{ link.handle }}" 
                             class="collapsed mb-menu-link" 
                             data-bs-toggle="collapse"
                             aria-expanded="false" 
                             aria-controls="dropdown-menu-{{ link.handle }}"
                             role="button">
                            <span>{{ link.title }}</span>
                            <span class="btn-open-sub" aria-hidden="true"></span>
                          </a>
                          <div id="dropdown-menu-{{ link.handle }}" class="collapse" role="region" aria-labelledby="dropdown-menu-{{ link.handle }}">
                            <ul class="sub-nav-menu">
                              {% for childlink in link.links %}
                                <li>
                                  {% if childlink.links != blank %}
                                    <a href="#sub-{{ childlink.handle }}" 
                                       class="sub-nav-link collapsed"
                                       data-bs-toggle="collapse" 
                                       aria-expanded="false"
                                       aria-controls="sub-{{ childlink.handle }}"
                                       role="button">
                                      <span>{{ childlink.title }}</span>
                                      <span class="btn-open-sub" aria-hidden="true"></span>
                                    </a>
                                    <div id="sub-{{ childlink.handle }}" class="collapse" role="region" aria-labelledby="sub-{{ childlink.handle }}">
                                      <ul class="sub-nav-menu sub-menu-level-2">
                                        {% for grandchildlink in childlink.links %}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="sub-nav-link">
                                              {{ grandchildlink.title }}
                                            </a>
                                          </li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  {% else %}
                                    <a href="{{ childlink.url }}" class="sub-nav-link">
                                      {{ childlink.title }}
                                    </a>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% else %}
                          <a href="{{ link.url }}" class="mb-menu-link">
                            {{ link.title }}
                          </a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
            </div>
            
            <div class="mb-other-content">
                <div class="group-icon">
                    {% if section.settings.show_wishlist %}
                    <a href="{{ routes.search_url }}/?view=wishlist" class="site-nav-icon">
                        <i class="icon icon-heart"></i>
                        {{ 'general.wishlist.title' | t }}
                    </a>
                    {% endif %}
                    
                    {% if section.settings.show_account %}
                    <a href="#login" data-bs-toggle="offcanvas" class="site-nav-icon">
                        <i class="icon icon-user"></i>
                        {% if customer %}
                            {{ 'customer.account.title' | t }}
                        {% else %}
                            {{ 'customer.login.title' | t }}
                        {% endif %}
                    </a>
                    {% endif %}
                </div>
                
                {% if section.settings.help_text %}
                <div class="mb-notice">
                    <a href="{{ section.settings.help_url }}" class="text-need">{{ section.settings.help_text }}</a>
                </div>
                {% endif %}

                {% if section.settings.address %}
                <div class="mb-contact">
                    <p>{{ 'general.contact.address_label' | t }}: {{ section.settings.address }}</p>
                </div>
                {% endif %}
                
                {% if section.settings.email or section.settings.phone_number %}
                <ul class="mb-info">
                    {% if section.settings.email %}
                    <li>
                        {{ 'general.contact.email_label' | t }}:
                        <b class="fw-medium">{{ section.settings.email }}</b>
                    </li>
                    {% endif %}
                    
                    {% if section.settings.phone_number %}
                    <li>
                        {{ 'general.contact.phone_label' | t }}:
                        <b class="fw-medium">
                            {{ section.settings.phone_number }}
                        </b>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        
        <div class="mb-bottom">
            <div class="bottom-bar-language">
                {% if section.settings.show_currency_selector %}
                <div class="tf-currencies">
                    {% render 'currency-selector', form_id: 'MobileCurrencyForm' %}
                </div>
                {% endif %}
                
                {% if section.settings.show_language_selector %}
                <div class="tf-languages">
                    {% render 'language-selector', form_id: 'MobileLanguageForm' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.mobile_menu.name",
  "tag": "section",
  "class": "section-mobile-menu",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.mobile_menu.settings.search.header"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:sections.mobile_menu.settings.search.show_search.label",
      "default": true
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "t:sections.mobile_menu.settings.search.search_placeholder.label",
      "default": "t:general.search.placeholder"
    },
    {
      "type": "header",
      "content": "t:sections.mobile_menu.settings.utility_icons.header"
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "t:sections.mobile_menu.settings.utility_icons.show_wishlist.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "t:sections.mobile_menu.settings.utility_icons.show_account.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.mobile_menu.settings.contact_information.header"
    },
    {
      "type": "text",
      "id": "help_text",
      "label": "t:sections.mobile_menu.settings.contact_information.help_text.label",
      "default": "t:sections.mobile_menu.settings.contact_information.help_text.default"
    },
    {
      "type": "url",
      "id": "help_url",
      "label": "t:sections.mobile_menu.settings.contact_information.help_url.label"
    },
    {
      "type": "text",
      "id": "address",
      "label": "t:sections.mobile_menu.settings.contact_information.address.label"
    },
    {
      "type": "text",
      "id": "email",
      "label": "t:sections.mobile_menu.settings.contact_information.email.label"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "t:sections.mobile_menu.settings.contact_information.phone_number.label"
    },
    {
      "type": "header",
      "content": "t:sections.mobile_menu.settings.language_currency.header"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.mobile_menu.settings.language_currency.show_currency_selector.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "label": "t:sections.mobile_menu.settings.language_currency.show_language_selector.label",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.mobile_menu.presets.name",
      "category": "System Group",
      "settings": {
        "show_search": true,
        "show_wishlist": true,
        "show_account": true,
        "show_currency_selector": true,
        "show_language_selector": true
      }
    }
  ]
}
{% endschema %}
