<div class="modal modalCentered fade auto-popup modal-newsletter">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-top">
                {% if section.settings.newsletter_image %}
                    {{ section.settings.newsletter_image | image_url: width: 400 | image_tag: 
                       class: 'lazyload', 
                       loading: 'lazy',
                       alt: section.settings.newsletter_image.alt }}
                {% endif %}
                <span class="icon icon-close btn-hide-popup" data-bs-dismiss="modal"></span>
            </div>
            <div class="modal-bottom text-center">
                <h5 class="title">{{ section.settings.title }}</h5>
                <p class="text text-sm text-main">{{ section.settings.description }}</p>

                {% form 'customer', class: 'form-newsletter' %}
                    <div class="mb_20">
                        <fieldset class="email position-relative">
                            <i class="icon icon-mail"></i>
                            <input type="email" 
                                   name="contact[email]" 
                                   class="" 
                                   placeholder="{{ section.settings.email_placeholder }}" 
                                   tabindex="0"
                                   aria-required="true" 
                                   required="">
                        </fieldset>
                    </div>
                    <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                            type="submit">{{ section.settings.button_text }}</button>
                {% endform %}

                {% if section.settings.show_social_icons %}
                    <ul class="tf-social-icon style-default justify-content-center">
                        {% if settings.social_facebook_link != blank %}
                            <li><a href="{{ settings.social_facebook_link }}" class="social-facebook"><i class="icon icon-fb2"></i></a></li>
                        {% endif %}
                        {% if settings.social_instagram_link != blank %}
                            <li><a href="{{ settings.social_instagram_link }}" class="social-instagram"><i class="icon icon-instagram"></i></a></li>
                        {% endif %}
                        {% if settings.social_youtube_link != blank %}
                            <li><a href="{{ settings.social_youtube_link }}" class="social-youtube"><i class="icon icon-youtube"></i></a></li>
                        {% endif %}
                        {% if settings.social_twitter_link != blank %}
                            <li><a href="{{ settings.social_twitter_link }}" class="social-x"><i class="icon icon-x"></i></a></li>
                        {% endif %}
                        {% if settings.social_tiktok_link != blank %}
                            <li><a href="{{ settings.social_tiktok_link }}" class="social-tiktok"><i class="icon icon-tiktok"></i></a></li>
                        {% endif %}
                        {% if settings.social_pinterest_link != blank %}
                            <li><a href="{{ settings.social_pinterest_link }}" class="social-pinterest"><i class="icon icon-pinterest"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
                
                {% if section.settings.show_privacy_policy %}
                    <p class="text text-sm mb-0 text-main">
                        {{ section.settings.privacy_text }} 
                        <a href="{{ section.settings.privacy_policy_url }}" class="fw-medium">{{ section.settings.privacy_policy_link_text }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Newsletter Popup",
  "settings": [
    {
      "type": "image_picker",
      "id": "newsletter_image",
      "label": "Newsletter Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sign up to our Newsletter"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Be the first to get the latest news about trends, promotions, and much more!"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Your email address"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Send"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show Social Icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Privacy Policy"
    },
    {
      "type": "checkbox",
      "id": "show_privacy_policy",
      "label": "Show Privacy Policy Link",
      "default": true
    },
    {
      "type": "text",
      "id": "privacy_text",
      "label": "Privacy Text",
      "default": "Will be used in accordance with our"
    },
    {
      "type": "url",
      "id": "privacy_policy_url",
      "label": "Privacy Policy URL"
    },
    {
      "type": "text",
      "id": "privacy_policy_link_text",
      "label": "Privacy Policy Link Text",
      "default": "Privacy Policy"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Popup"
    }
  ]
}
{% endschema %}