<style>
  .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
      padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
</style>

{%- if section.settings.selected_collections != blank -%}
  <div
    class="flat-spacing-4 section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
    id="sub-collection-{{ section.id }}"
  >
    <div class="{{ section.settings.width }}">
      <div class="fl-control-sw pos1">
        <div
          dir="ltr"
          class="swiper tf-swiper hover-sw-nav wow fadeInUp"
          data-swiper='
            {
              "slidesPerView": {{ section.settings.slides_per_view_mobile }},
              "spaceBetween": {{ section.settings.space_between }},
              "speed": 800,
              "observer": true,
              "observeParents": true,
              "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
              {%- if section.settings.show_navigation -%}
              "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
              },
              {%- endif -%}
              {%- if section.settings.show_pagination -%}
              "pagination": {
                "el": ".sw-pagination-cls",
                "clickable": true
              },
              {%- endif -%}
              "breakpoints": {
                "768": {
                  "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                  "spaceBetween": 24,
                  "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
                },
                "1200": {
                  "slidesPerView": {{ section.settings.slides_per_view_desktop }},
                  "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
                }
              }
            }
          '
        >
          <div class="swiper-wrapper">
            {%- for collection in section.settings.selected_collections limit: section.settings.collections_limit -%}
              <div class="swiper-slide">
                <div class="wg-cls style-abs2 hover-img">
                  <a href="{{ collection.url }}" class="image-wrap relative">
                    <div class="image img-style">
                      {%- if collection.image -%}
                        <img
                          src="{{ collection.image | image_url: width: 400, height: 400, crop: 'center' }}"
                          data-src="{{ collection.image | image_url: width: 400, height: 400, crop: 'center' }}"
                          alt="{{ collection.title | escape }}"
                          class="lazyload"
                          width="400"
                          height="400"
                        >
                      {%- endif -%}
                    </div>
                    <div class="cls-btn text-center">
                      <button class="tf-btn btn-white hover-dark">{{ section.settings.button_text }}</button>
                    </div>
                    <span class="tf-overlay"></span>
                  </a>
                  <div class="cls-content text-center">
                    <a href="{{ collection.url }}" class="text-type text-xl-2 fw-medium link">{{ collection.title }}</a>
                    <span class="count-item body-text-2 text-main">
                      {{- collection.all_products_count }}
                      {{ section.settings.item_text -}}
                    </span>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>

          {%- if section.settings.show_pagination -%}
            <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
          {%- endif -%}
        </div>

        {%- if section.settings.show_navigation -%}
          <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
          <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- else -%}
  <div
    class="flat-spacing-4 section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
    id="sub-collection-{{ section.id }}"
  >
    <div class="{{ section.settings.width }}">
      <div class="fl-control-sw pos1">
        <div
          dir="ltr"
          class="swiper tf-swiper hover-sw-nav wow fadeInUp"
          data-swiper='
            {
              "slidesPerView": {{ section.settings.slides_per_view_mobile }},
              "spaceBetween": {{ section.settings.space_between }},
              "speed": 800,
              "observer": true,
              "observeParents": true,
              "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
              {%- if section.settings.show_navigation -%}
              "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
              },
              {%- endif -%}
              {%- if section.settings.show_pagination -%}
              "pagination": {
                "el": ".sw-pagination-cls",
                "clickable": true
              },
              {%- endif -%}
              "breakpoints": {
                "768": {
                  "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                  "spaceBetween": 24,
                  "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
                },
                "1200": {
                  "slidesPerView": {{ section.settings.slides_per_view_desktop }},
                  "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
                }
              }
            }
          '
        >
          <div class="swiper-wrapper">
            {%- for i in (1..5) -%}
              <div class="swiper-slide">
                <div class="wg-cls style-abs2 hover-img">
                  <a href="#" class="image-wrap relative">
                    <div class="image img-style">
                      {{ 'collection-' | append: i | placeholder_svg_tag }}
                    </div>
                    <div class="cls-btn text-center">
                      <button class="tf-btn btn-white hover-dark">{{ section.settings.button_text }}</button>
                    </div>
                    <span class="tf-overlay"></span>
                  </a>
                  <div class="cls-content text-center">
                    <a href="#" class="text-type text-xl-2 fw-medium link">Collection {{ i }}</a>
                    <span class="count-item body-text-2 text-main">0 {{ section.settings.item_text }}</span>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>

          {%- if section.settings.show_pagination -%}
            <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
          {%- endif -%}
        </div>

        {%- if section.settings.show_navigation -%}
          <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
          <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.sub-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.sub-collection.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.sub-collection.settings.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.all.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "collection_list",
      "id": "selected_collections",
      "label": "t:sections.sub-collection.settings.selected_collections.label"
    },
    {
      "type": "range",
      "id": "collections_limit",
      "min": 4,
      "max": 12,
      "step": 2,
      "default": 6,
      "label": "t:sections.sub-collection.settings.collections_limit.label"
    },
    {
      "type": "range",
      "id": "slides_per_view_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "t:sections.sub-collection.settings.slides_per_view_mobile.label"
    },
    {
      "type": "range",
      "id": "slides_per_view_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "t:sections.sub-collection.settings.slides_per_view_tablet.label"
    },
    {
      "type": "range",
      "id": "slides_per_view_desktop",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.sub-collection.settings.slides_per_view_desktop.label"
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 8,
      "max": 40,
      "step": 4,
      "default": 12,
      "label": "t:sections.sub-collection.settings.space_between.label"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.sub-collection.settings.show_navigation.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:sections.sub-collection.settings.show_pagination.label",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.sub-collection.settings.button_text.label",
      "default": "View all"
    },
    {
      "type": "text",
      "id": "item_text",
      "label": "t:sections.sub-collection.settings.item_text.label",
      "default": "items"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.top_bar.settings.padding_mobile_rate.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sub-collection.presets.name",
      "category": "t:sections.sub-collection.presets.category"
    }
  ]
}
{% endschema %}
