<style>
  .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
      padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
</style>

{%- if section.settings.selected_collections != blank -%}
  <div
    class="flat-spacing-4 section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
    id="sub-collection-{{ section.id }}"
  >
    <div class="{{ section.settings.width }}">
      {%- if section.settings.layout_style == 'layout_1' -%}
        <!-- Layout 1: Rectangular Style (Original) -->
        <div class="fl-control-sw pos1">
          <div
            dir="ltr"
            class="swiper tf-swiper hover-sw-nav wow fadeInUp"
            data-swiper='
              {
                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                "spaceBetween": {{ section.settings.space_between }},
                "speed": 800,
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
                {%- if section.settings.show_navigation -%}
                "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-cls",
                  "prevEl": ".nav-prev-cls"
                },
                {%- endif -%}
                {%- if section.settings.show_pagination -%}
                "pagination": {
                  "el": ".sw-pagination-cls",
                  "clickable": true
                },
                {%- endif -%}
                "breakpoints": {
                  "768": {
                    "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                    "spaceBetween": 24,
                    "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
                  },
                  "1200": {
                    "slidesPerView": {{ section.settings.slides_per_view_desktop }},
                    "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
                  }
                }
              }
            '
          >
            <div class="swiper-wrapper">
              {%- for collection in section.settings.selected_collections limit: section.settings.collections_limit -%}
                <div class="swiper-slide">
                  <div class="wg-cls style-abs2 hover-img">
                    <a href="{{ collection.url }}" class="image-wrap relative">
                      <div class="image img-style">
                        {%- if collection.image -%}
                          <img
                            src="{{ collection.image | image_url: width: 400, height: 400, crop: 'center' }}"
                            data-src="{{ collection.image | image_url: width: 400, height: 400, crop: 'center' }}"
                            alt="{{ collection.title | escape }}"
                            class="lazyload"
                            width="400"
                            height="400"
                          >
                        {%- endif -%}
                      </div>
                      <div class="cls-btn text-center">
                        <button class="tf-btn btn-white hover-dark">{{ section.settings.button_text }}</button>
                      </div>
                      <span class="tf-overlay"></span>
                    </a>
                    <div class="cls-content text-center">
                      <a href="{{ collection.url }}" class="text-type text-xl-2 fw-medium link">
                        {{- collection.title -}}
                      </a>
                      <span class="count-item body-text-2 text-main">
                        {{- collection.all_products_count }}
                        {{ section.settings.item_text -}}
                      </span>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>

            {%- if section.settings.show_pagination -%}
              <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
            {%- endif -%}
          </div>

          {%- if section.settings.show_navigation -%}
            <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
            <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
          {%- endif -%}
        </div>
      {%- else -%}
        <!-- Layout 2: Circle Style (From test.html) -->
        <div
          dir="ltr"
          class="swiper tf-swiper"
          data-swiper='
            {
              "slidesPerView": {{ section.settings.slides_per_view_mobile }},
              "spaceBetween": {{ section.settings.space_between }},
              "speed": 800,
              "observer": true,
              "observeParents": true,
              "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
              {%- if section.settings.show_navigation -%}
              "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
              },
              {%- endif -%}
              {%- if section.settings.show_pagination -%}
              "pagination": { "el": ".sw-pagination-cls", "clickable": true },
              {%- endif -%}
              "breakpoints": {
                "575": { "slidesPerView": 5, "spaceBetween": {{ section.settings.space_between }} ,"slidesPerGroup": 3 },
                "768": { "slidesPerView": {{ section.settings.slides_per_view_tablet }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 },
                "1200": { "slidesPerView": {{ section.settings.slides_per_view_desktop }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3}
              }
            }
          '
        >
          <div class="swiper-wrapper">
            {%- if section.settings.show_shop_all and section.settings.shop_all_image != blank -%}
              {%- assign display_limit = section.settings.collections_limit | minus: 1 -%}
            {%- else -%}
              {%- assign display_limit = section.settings.collections_limit -%}
            {%- endif -%}

            {%- for collection in section.settings.selected_collections limit: display_limit -%}
              <div class="swiper-slide">
                <div class="wg-cls style-circle-md hover-img">
                  <a href="{{ collection.url }}" class="image img-style d-block">
                    {%- if collection.image -%}
                      <img
                        src="{{ collection.image | image_url: width: 300, height: 300, crop: 'center' }}"
                        data-src="{{ collection.image | image_url: width: 300, height: 300, crop: 'center' }}"
                        alt="{{ collection.title | escape }}"
                        class="lazyload"
                        width="300"
                        height="300"
                      >
                    {%- endif -%}
                  </a>
                  <div class="cls-content text-center">
                    <a href="{{ collection.url }}" class="link text-sm fw-medium">{{ collection.title }}</a>
                  </div>
                </div>
              </div>
            {%- endfor -%}

            {%- if section.settings.show_shop_all and section.settings.shop_all_image != blank -%}
              <!-- Shop All Item -->
              <div class="swiper-slide">
                <div class="wg-cls style-circle-md hover-img">
                  <a href="{{ section.settings.shop_all_url }}" class="image img-style d-block shop-all">
                    {%- if section.settings.shop_all_image -%}
                      <img
                        src="{{ section.settings.shop_all_image | image_url: width: 300, height: 300, crop: 'center' }}"
                        data-src="{{ section.settings.shop_all_image | image_url: width: 300, height: 300, crop: 'center' }}"
                        alt="{{ section.settings.shop_all_text | escape }}"
                        class="lazyload"
                        width="300"
                        height="300"
                      >
                    {%- else -%}
                      {{ 'collection-2' | placeholder_svg_tag }}
                    {%- endif -%}
                  </a>
                  <div class="cls-content text-center">
                    <a href="{{ section.settings.shop_all_url }}" class="link text-sm fw-medium">
                      {{ section.settings.shop_all_text }}
                    </a>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
          {%- if section.settings.show_pagination -%}
            <span class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></span>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- else -%}
  <div
    class="flat-spacing-4 section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
    id="sub-collection-{{ section.id }}"
  >
    <div class="{{ section.settings.width }}">
      {%- if section.settings.layout_style == 'layout_1' -%}
        <!-- Layout 1: Rectangular Style (Placeholder) -->
        <div class="fl-control-sw pos1">
          <div
            dir="ltr"
            class="swiper tf-swiper hover-sw-nav wow fadeInUp"
            data-swiper='
              {
                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                "spaceBetween": {{ section.settings.space_between }},
                "speed": 800,
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
                {%- if section.settings.show_navigation -%}
                "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-cls",
                  "prevEl": ".nav-prev-cls"
                },
                {%- endif -%}
                {%- if section.settings.show_pagination -%}
                "pagination": {
                  "el": ".sw-pagination-cls",
                  "clickable": true
                },
                {%- endif -%}
                "breakpoints": {
                  "768": {
                    "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                    "spaceBetween": 24,
                    "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
                  },
                  "1200": {
                    "slidesPerView": {{ section.settings.slides_per_view_desktop }},
                    "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
                  }
                }
              }
            '
          >
            <div class="swiper-wrapper">
              {%- for i in (1..5) -%}
                <div class="swiper-slide">
                  <div class="wg-cls style-abs2 hover-img">
                    <a href="#" class="image-wrap relative">
                      <div class="image img-style">
                        {{ 'collection-' | append: i | placeholder_svg_tag }}
                      </div>
                      <div class="cls-btn text-center">
                        <button class="tf-btn btn-white hover-dark">{{ section.settings.button_text }}</button>
                      </div>
                      <span class="tf-overlay"></span>
                    </a>
                    <div class="cls-content text-center">
                      <a href="#" class="text-type text-xl-2 fw-medium link">Collection {{ i }}</a>
                      <span class="count-item body-text-2 text-main">0 {{ section.settings.item_text }}</span>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>

            {%- if section.settings.show_pagination -%}
              <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
            {%- endif -%}
          </div>

          {%- if section.settings.show_navigation -%}
            <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
            <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
          {%- endif -%}
        </div>
      {%- else -%}
        <!-- Layout 2: Circle Style (Placeholder) -->
        <div
          dir="ltr"
          class="swiper tf-swiper"
          data-swiper='
            {
              "slidesPerView": {{ section.settings.slides_per_view_mobile }},
              "spaceBetween": {{ section.settings.space_between }},
              "speed": 800,
              "observer": true,
              "observeParents": true,
              "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
              {%- if section.settings.show_navigation -%}
              "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
              },
              {%- endif -%}
              {%- if section.settings.show_pagination -%}
              "pagination": { "el": ".sw-pagination-cls", "clickable": true },
              {%- endif -%}
              "breakpoints": {
                "575": { "slidesPerView": 5, "spaceBetween": {{ section.settings.space_between }} ,"slidesPerGroup": 3 },
                "768": { "slidesPerView": {{ section.settings.slides_per_view_tablet }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 },
                "1200": { "slidesPerView": {{ section.settings.slides_per_view_desktop }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3}
              }
            }
          '
        >
          <div class="swiper-wrapper">
            {%- if section.settings.show_shop_all and section.settings.shop_all_image != blank -%}
              {%- assign placeholder_limit = section.settings.collections_limit | minus: 1 -%}
            {%- else -%}
              {%- assign placeholder_limit = section.settings.collections_limit -%}
            {%- endif -%}

            {%- for i in (1..placeholder_limit) -%}
              <div class="swiper-slide">
                <div class="wg-cls style-circle-md hover-img">
                  <a href="#" class="image img-style d-block">
                    {{ 'collection-' | append: i | placeholder_svg_tag }}
                  </a>
                  <div class="cls-content text-center">
                    <a href="#" class="link text-sm fw-medium">Collection {{ i }}</a>
                  </div>
                </div>
              </div>
            {%- endfor -%}

            {%- if section.settings.show_shop_all and section.settings.shop_all_image != blank -%}
              <!-- Shop All Item (Placeholder) -->
              <div class="swiper-slide">
                <div class="wg-cls style-circle-md hover-img">
                  <a href="{{ section.settings.shop_all_url }}" class="image img-style d-block shop-all">
                    {%- if section.settings.shop_all_image -%}
                      <img
                        src="{{ section.settings.shop_all_image | image_url: width: 300, height: 300, crop: 'center' }}"
                        data-src="{{ section.settings.shop_all_image | image_url: width: 300, height: 300, crop: 'center' }}"
                        alt="{{ section.settings.shop_all_text | escape }}"
                        class="lazyload"
                        width="300"
                        height="300"
                      >
                    {%- else -%}
                      {{ 'collection-2' | placeholder_svg_tag }}
                    {%- endif -%}
                  </a>
                  <div class="cls-content text-center">
                    <a href="{{ section.settings.shop_all_url }}" class="link text-sm fw-medium">
                      {{ section.settings.shop_all_text }}
                    </a>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
          {%- if section.settings.show_pagination -%}
            <span class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></span>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.sub-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.width.options.boxed"
        },
        {
          "value": "container-full",
          "label": "t:sections.all.width.options.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "select",
      "id": "layout_style",
      "label": "t:sections.sub-collection.settings.layout_style.label",
      "options": [
        {
          "value": "layout_1",
          "label": "t:sections.sub-collection.settings.layout_style_options.layout_1"
        },
        {
          "value": "layout_2",
          "label": "t:sections.sub-collection.settings.layout_style_options.layout_2"
        }
      ],
      "default": "layout_1"
    },
    {
      "type": "collection_list",
      "id": "selected_collections",
      "label": "t:sections.sub-collection.settings.selected_collections.label"
    },
    {
      "type": "range",
      "id": "collections_limit",
      "min": 4,
      "max": 12,
      "step": 2,
      "default": 6,
      "label": "t:sections.sub-collection.settings.collections_limit.label"
    },
    {
      "type": "range",
      "id": "slides_per_view_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "t:sections.sub-collection.settings.slides_per_view_mobile.label"
    },
    {
      "type": "range",
      "id": "slides_per_view_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "t:sections.sub-collection.settings.slides_per_view_tablet.label"
    },
    {
      "type": "range",
      "id": "slides_per_view_desktop",
      "min": 3,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "t:sections.sub-collection.settings.slides_per_view_desktop.label"
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 8,
      "max": 40,
      "step": 4,
      "default": 12,
      "label": "t:sections.sub-collection.settings.space_between.label",
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.sub-collection.settings.show_navigation.label",
      "default": true,
      "visible_if": "{{ section.settings.layout_style == 'layout_1' }}"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:sections.sub-collection.settings.show_pagination.label",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.sub-collection.settings.button_text.label",
      "default": "View all",
      "visible_if": "{{ section.settings.layout_style == 'layout_1' }}"
    },
    {
      "type": "text",
      "id": "item_text",
      "label": "t:sections.sub-collection.settings.item_text.label",
      "default": "items",
      "visible_if": "{{ section.settings.layout_style == 'layout_1' }}"
    },
    {
      "type": "header",
      "content": "t:sections.sub-collection.settings.shop_all_settings.label",
      "visible_if": "{{ section.settings.layout_style == 'layout_2' }}"
    },
    {
      "type": "checkbox",
      "id": "show_shop_all",
      "label": "t:sections.sub-collection.settings.show_shop_all.label",
      "default": false,
      "visible_if": "{{ section.settings.layout_style == 'layout_2' }}"
    },
    {
      "type": "image_picker",
      "id": "shop_all_image",
      "label": "t:sections.sub-collection.settings.shop_all_image.label",
      "visible_if": "{{ section.settings.layout_style == 'layout_2' }}"
    },
    {
      "type": "text",
      "id": "shop_all_text",
      "label": "t:sections.sub-collection.settings.shop_all_text.label",
      "default": "Shop All",
      "visible_if": "{{ section.settings.layout_style == 'layout_2' }}"
    },
    {
      "type": "url",
      "id": "shop_all_url",
      "label": "t:sections.sub-collection.settings.shop_all_url.label",
      "visible_if": "{{ section.settings.layout_style == 'layout_2' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.top_bar.settings.padding_mobile_rate.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sub-collection.presets.name",
      "category": "t:sections.sub-collection.presets.category"
    }
  ]
}
{% endschema %}
