{% schema %}
{
  "name": "t:sections.tag-products-carousel.name",
  "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
    },
    {
        "type": "select",
        "id": "width",
        "label": "t:sections.tag-products-carousel.settings.width.label",
        "options": [
            {
            "value": "container",
            "label": "t:sections.tag-products-carousel.settings.width.options.boxed"
            },
            {
            "value": "container-full",
            "label": "t:sections.tag-products-carousel.settings.width.options.full_width"
            }
        ],
        "default": "container"
    },
    {
      "type": "header",
      "content": "t:sections.tag-products-carousel.settings.tab_navigation_settings.content"
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "t:sections.tag-products-carousel.settings.title_font_size.label",
      "options": [
        {
          "value": "30",
          "label": "t:sections.tag-products-carousel.settings.title_font_size.options.small"
        },
        {
          "value": "36",
          "label": "t:sections.tag-products-carousel.settings.title_font_size.options.medium"
        },
        {
          "value": "48",
          "label": "t:sections.tag-products-carousel.settings.title_font_size.options.large"
        }
      ],
      "default": "36"
    },
    {
      "type": "select",
      "id": "title_font_size_mobile",
      "label": "t:sections.tag-products-carousel.settings.title_font_size_mobile.label",
      "options": [
        {
          "value": "24",
          "label": "t:sections.tag-products-carousel.settings.title_font_size_mobile.options.small"
        },
        {
          "value": "30",
          "label": "t:sections.tag-products-carousel.settings.title_font_size_mobile.options.medium"
        },
        {
          "value": "36",
          "label": "t:sections.tag-products-carousel.settings.title_font_size_mobile.options.large"
        }
      ],
      "default": "24"
    },
    {
      "type": "select",
      "id": "title_font_weight",
      "label": "t:sections.tag-products-carousel.settings.title_font_weight.label",
      "options": [
        {
          "value": "400",
          "label": "t:sections.tag-products-carousel.settings.title_font_weight.options.regular"
        },
        {
          "value": "500",
          "label": "t:sections.tag-products-carousel.settings.title_font_weight.options.medium"
        },
        {
          "value": "600",
          "label": "t:sections.tag-products-carousel.settings.title_font_weight.options.semi_bold"
        },
        {
          "value": "700",
          "label": "t:sections.tag-products-carousel.settings.title_font_weight.options.bold"
        }
      ],
      "default": "500"
    },
    {
      "type": "checkbox",
      "id": "title_uppercase",
      "label": "t:sections.tag-products-carousel.settings.title_uppercase.label",
      "default": false
    },
    {
      "type": "range",
      "id": "tab_spacing",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "t:sections.tag-products-carousel.settings.tab_spacing.label",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:sections.tag-products-carousel.settings.slider_settings.content"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.tag-products-carousel.settings.show_navigation.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_mobile_dots",
      "label": "t:sections.tag-products-carousel.settings.show_mobile_dots.label",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.tag-products-carousel.settings.products_per_row_desktop.label"
    },
    {
      "type": "range",
      "id": "products_per_row_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.tag-products-carousel.settings.products_per_row_tablet.label"
    },
    {
      "type": "range",
      "id": "products_per_row_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:sections.tag-products-carousel.settings.products_per_row_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.tag-products-carousel.settings.product_settings.content"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "t:sections.tag-products-carousel.settings.products_to_show.label"
    },
    {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
    },
    {
      "type": "range",
      "id": "padding_mobile_rate",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.top_bar.settings.padding_mobile_rate.label",
      "default": 75,
      "info": "t:sections.top_bar.settings.padding_mobile_rate.info"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "t:sections.tag-products-carousel.blocks.tab.name",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.tag-products-carousel.blocks.tab.settings.title.label",
          "default": "t:sections.tag-products-carousel.blocks.tab.settings.title.default"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.tag-products-carousel.blocks.tab.settings.collection.label"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:sections.tag-products-carousel.blocks.tab.settings.product_list.label",
          "info": "t:sections.tag-products-carousel.blocks.tab.settings.product_list.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tag-products-carousel.presets.name",
      "category": "t:sections.tag-products-carousel.presets.category",
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "title": "t:sections.tag-products-carousel.presets.blocks.tab1.title",
            "collection": ""
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "t:sections.tag-products-carousel.presets.blocks.tab2.title",
            "collection": ""
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "t:sections.tag-products-carousel.presets.blocks.tab3.title",
            "collection": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
.section-{{ section.id }} .menu-tab-line .nav-tab-item {
  margin-right: {{ section.settings.tab_spacing }}px;
}
.section-{{ section.id }} .menu-tab-line .nav-tab-item:last-child {
  margin-right: 0;
}
.section-{{ section.id }} .menu-tab-line .tab-link {
  font-size: {{ section.settings.title_font_size }}px;
  font-weight: {{ section.settings.title_font_weight }};
  {% if section.settings.title_uppercase %}
    text-transform: uppercase;
  {% endif %}
}

@media (max-width: 749px) {
  .section-{{ section.id }} .menu-tab-line .tab-link {
    font-size: {{ section.settings.title_font_size_mobile }}px;
  }
}
.section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
      padding-bottom: calc({{ section.settings.padding_bottom }}px * {{ section.settings.padding_mobile_rate | divided_by: 100.0 }});
    }
  
@media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
{% endstyle %}

<!-- Tag Product -->
<section class="section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div class="{{ section.settings.width }}">
        {% if section.blocks.size > 0 %}
            <div class="flat-animate-tab flat-controltab-nav">
                <div class="flat-title">
                    <ul class="menu-tab-line style2 style-lg style-lg2" role="tablist">
                        {% for block in section.blocks %}
                            {% if block.type == 'tab' and block.settings.collection != blank or block.settings.product_list != blank %}
                                <li class="nav-tab-item" role="presentation">
                                    <a href="#tab-{{ section.id }}-{{ block.id }}" 
                                       class="tab-link {% if forloop.first %}active{% endif %}" 
                                       data-bs-toggle="tab">
                                        {{ block.settings.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content sw-height">
                    {% for block in section.blocks %}
                        {% if block.type == 'tab' and block.settings.collection != blank or block.settings.product_list != blank %}
                            <div class="tab-pane {% if forloop.first %}active show{% endif %}" 
                                 id="tab-{{ section.id }}-{{ block.id }}" 
                                 role="tabpanel">
                                <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                                        "slidesPerView": {{ section.settings.products_per_row_mobile }},
                                        "spaceBetween": 12,
                                        "speed": 800,
                                        "observer": true,
                                        "observeParents": true,
                                        "watchSlidesProgress": true,
                                        "watchOverflow": true,
                                        "slidesPerGroup": {{ section.settings.products_per_row_mobile }},
                                        "navigation": {
                                            "clickable": true,
                                            "nextEl": ".nav-next-{{ block.id }}",
                                            "prevEl": ".nav-prev-{{ block.id }}"
                                        },
                                        "pagination": { "el": ".sw-pagination-{{ block.id }}", "clickable": true },
                                        "breakpoints": {
                                        "768": { 
                                            "slidesPerView": {{ section.settings.products_per_row_tablet }}, 
                                            "spaceBetween": 12, 
                                            "slidesPerGroup": {{ section.settings.products_per_row_tablet }}
                                        },
                                        "1200": { 
                                            "slidesPerView": {{ section.settings.products_per_row_desktop }}, 
                                            "spaceBetween": 24, 
                                            "slidesPerGroup": {{ section.settings.products_per_row_desktop }}
                                        }
                                        }
                                  }'>
                                    <div class="swiper-wrapper">
                                        {% if block.settings.product_list != blank %}
                                            {% for product in block.settings.product_list limit: section.settings.products_to_show %}
                                                <div class="swiper-slide">
                                                    {% render 'product-card', product: product, show_progress_sale: false %}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for product in block.settings.collection.products limit: section.settings.products_to_show %}
                                                <div class="swiper-slide">
                                                    {% render 'product-card', product: product, show_progress_sale: false %}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% if section.settings.show_mobile_dots %}
                                        <div class="d-flex d-xl-none sw-dot-default sw-pagination-{{ block.id }} justify-content-center">
                                        </div>
                                    {% endif %}
                                </div>
                                {% if section.settings.show_navigation %}
                                    <div class="box-nav-swiper style-2">
                                        <div class="swiper-button-prev nav-swiper nav-prev-{{ block.id }} relative"></div>
                                        <div class="swiper-button-next nav-swiper nav-next-{{ block.id }} relative"></div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
<!-- /Tag Product -->