{% schema %}
{
  "name": "t:sections.top_bar.name",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.top_bar.settings.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.top_bar.settings.width.options.boxed.label"
        },
        {
          "value": "container-full",
          "label": "t:sections.top_bar.settings.width.options.full.label"
        }
      ],
      "default": "container"
    },
    {
      "type": "header",
      "content": "t:sections.top_bar.settings.block_visibility_settings.content"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "t:sections.top_bar.settings.show_social_icons.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "label": "t:sections.top_bar.settings.show_language_selector.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.top_bar.settings.show_currency_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.top_bar.settings.border_settings.content"
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "label": "t:sections.top_bar.settings.show_border_bottom.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "capitalize_text",
      "label": "t:sections.top_bar.settings.capitalize_text.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "social_icons",
      "name": "t:sections.top_bar.blocks.social_icons.name",
      "limit": 1
    },
    {
      "type": "announcement",
      "name": "t:sections.top_bar.blocks.announcement.name",
      "settings": [
        {
          "type": "textarea",
          "id": "messages",
          "label": "t:sections.top_bar.blocks.announcement.settings.messages.label",
          "default": "t:sections.top_bar.blocks.announcement.settings.messages.default",
          "info": "t:sections.top_bar.blocks.announcement.settings.messages.info"
        },
        {
          "type": "checkbox",
          "id": "enable_countdown",
          "label": "Enable countdown",
          "default": false
        },
        {
          "type": "text",
          "id": "countdown_prefix",
          "label": "Countdown prefix text",
          "default": "WINTER SALE 75% OFF. Ends in:"
        },
        {
          "type": "number",
          "id": "countdown_seconds",
          "label": "Countdown seconds (total)",
          "default": 900610
        },
        {
          "type": "text",
          "id": "countdown_labels",
          "label": "Countdown labels (comma-separated)",
          "default": " DAYS : , HOURS : , MINUTES : , SECONDS"
        }
      ],
      "limit": 1
    },
    {
      "type": "email",
      "name": "t:sections.top_bar.blocks.email.name",
      "settings": [
        {
          "type": "text",
          "id": "email",
          "label": "t:sections.top_bar.blocks.email.settings.email.label",
          "default": "t:sections.top_bar.blocks.email.settings.email.default"
        }
      ],
      "limit": 1
    },
    {
      "type": "store_location",
      "name": "t:sections.top_bar.blocks.store_location.name",
      "settings": [
        {
          "type": "text",
          "id": "store_link",
          "label": "t:sections.top_bar.blocks.store_location.settings.store_link.label",
          "default": "t:sections.top_bar.blocks.store_location.settings.store_link.default"
        },
        {
          "type": "text",
          "id": "store_text",
          "label": "t:sections.top_bar.blocks.store_location.settings.store_text.label",
          "default": "t:sections.top_bar.blocks.store_location.settings.store_text.default"
        }
      ],
      "limit": 1
    },
    {
      "type": "language_selector",
      "name": "t:sections.top_bar.blocks.language_selector.name",
      "limit": 1
    },
    {
      "type": "currency_selector",
      "name": "t:sections.top_bar.blocks.currency_selector.name",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.top_bar.presets.name",
      "category": "t:sections.top_bar.presets.category",
      "blocks": [
        {
          "type": "social_icons"
        },
        {
          "type": "email"
        },
        {
          "type": "announcement"
        },
        {
          "type": "store_location"
        },
        {
          "type": "language_selector"
        },
        {
          "type": "currency_selector"
        }
      ]
    }
  ]
}
{% endschema %}

<div
  class="tf-topbar color-{{ section.settings.color_scheme }} gradient {% unless section.settings.show_border_bottom %} no-border-bottom{% endunless %}{% if section.settings.capitalize_text %} marquee-topbar{% endif %} {%- if section.blocks.size == 1 and section.blocks.first.type == 'announcement' -%}bg-dark-green-7{%- endif -%}"
>
  <div class="{{ section.settings.width }}">
    {%- if section.blocks.size == 1 and section.blocks.first.type == 'announcement' -%}
      <div class="row justify-content-center">
        <div class="col-xl-6">
    {%- endif -%}
        <div class="topbar-wraper">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'email' -%}
                <div class="d-none d-xl-block flex-shrink-0" {{ block.shopify_attributes }}>
                  <a class="mail" href="mailto:{{ block.settings.email }}">{{ block.settings.email }}</a>
                </div>
              {%- when 'social_icons' -%}
                {%- if section.settings.show_social_icons -%}
                  <div class="d-none d-xl-block flex-shrink-0" {{ block.shopify_attributes }}>
                    <ul class="tf-social-icon topbar-left">
                      {%- if settings.social_facebook_link != blank -%}
                        <li>
                          <a
                            href="{{ settings.social_facebook_link }}"
                            class="social-item social-facebook"
                            aria-label="Facebook"
                            ><i class="icon icon-fb"></i
                          ></a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_instagram_link != blank -%}
                        <li>
                          <a
                            href="{{ settings.social_instagram_link }}"
                            class="social-item social-instagram"
                            aria-label="Instagram"
                            ><i class="icon icon-instagram"></i
                          ></a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_youtube_link != blank -%}
                        <li>
                          <a
                            href="{{ settings.social_youtube_link }}"
                            class="social-item social-youtube"
                            aria-label="YouTube"
                            ><i class="icon icon-youtube"></i
                          ></a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_tiktok_link != blank -%}
                        <li>
                          <a href="{{ settings.social_tiktok_link }}" class="social-item social-tiktok" aria-label="TikTok"
                            ><i class="icon icon-tiktok"></i
                          ></a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_twitter_link != blank -%}
                        <li>
                          <a href="{{ settings.social_twitter_link }}" class="social-item social-x" aria-label="Twitter"
                            ><i class="icon icon-x"></i
                          ></a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_snapchat_link != blank -%}
                        <li>
                          <a
                            href="{{ settings.social_snapchat_link }}"
                            class="social-item social-snapchat"
                            aria-label="Snapchat"
                            ><i class="icon icon-snapchat"></i
                          ></a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_pinterest_link != blank -%}
                        <li>
                          <a
                            href="{{ settings.social_pinterest_link }}"
                            class="social-item social-pinterest"
                            aria-label="Pinterest"
                            ><i class="icon icon-pinterest"></i
                          ></a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                {%- endif -%}
              {%- when 'announcement' -%}
                <div class="overflow-hidden" {{ block.shopify_attributes }}>
                  <div class="topbar-center marquee-wrapper">
                    <div class="initial-child-container">
                      {%- assign messages = block.settings.messages | split: ',' -%}
                      {%- if block.settings.enable_countdown -%}
                        {% for i in (1..8) %}
                          <div class="marquee-child-item">
                            {{ block.settings.countdown_prefix | escape }}&nbsp;
                            <div class="js-countdown d-flex justify-content-center" data-timer="{{ block.settings.countdown_seconds }}" data-labels="{{ block.settings.countdown_labels }}"></div>
                          </div>
                        {% endfor %}
                      {%- else -%}
                        {% for i in (1..5) %}
                          {%- for message in messages -%}
                            <div class="marquee-child-item">
                              <p>{{ message | strip }}</p>
                            </div>
                            {%- unless forloop.last -%}
                              <div class="marquee-child-item"><span class="dot"></span></div>
                            {%- endunless -%}
                          {%- endfor -%}
                          {%- if messages.size > 0 -%}
                            <div class="marquee-child-item"><span class="dot"></span></div>
                          {%- endif -%}
                        {% endfor %}
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              {%- when 'store_location' -%}
                <div class="d-none d-xl-block flex-shrink-0" {{ block.shopify_attributes }}>
                  <a href="{{ block.settings.store_link }}" class="store">{{ block.settings.store_text }}</a>
                </div>
            {%- endcase -%}
          {%- endfor -%}
    
          {%- comment -%} Render language and currency selectors separately {%- endcomment -%}
          {%- assign has_visible_selectors = false -%}
          {%- for block in section.blocks -%}
            {%- if block.type == 'language_selector' and section.settings.show_language_selector -%}
              {%- assign has_visible_selectors = true -%}
              {%- break -%}
            {%- elsif block.type == 'currency_selector' and section.settings.show_currency_selector -%}
              {%- assign has_visible_selectors = true -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
    
          {%- if has_visible_selectors -%}
            <div class="d-none d-xl-block flex-shrink-0">
              <div class="topbar-right">
                {%- for block in section.blocks -%}
                  {%- if block.type == 'language_selector' and section.settings.show_language_selector -%}
                    <div class="tf-languages" {{ block.shopify_attributes }}>
                      {%- form 'localization', id: 'TopBarLanguageForm', class: 'localization-form' -%}
                        <div class="no-js-hidden">
                          <select
                            name="locale_code"
                            id="language-selector-topbar"
                            class="image-select center style-default type-languages"
                            aria-labelledby="LanguageLabel"
                          >
                            {%- assign current_language = localization.language.iso_code -%}
                            {%- for language in localization.available_languages -%}
                              <option
                                value="{{ language.iso_code }}"
                                {% if language.iso_code == current_language %}
                                  selected
                                {% endif %}
                              >
                                {{ language.endonym_name | capitalize }}
                              </option>
                            {%- endfor -%}
                          </select>
                        </div>
                        <input type="hidden" name="return_to" value="{{ request.path }}">
                      {%- endform -%}
                    </div>
                  {%- elsif block.type == 'currency_selector' and section.settings.show_currency_selector -%}
                    <div class="tf-currencies" {{ block.shopify_attributes }}>
                      {%- form 'localization', id: 'TopBarCurrencyForm', class: 'localization-form' -%}
                        <div class="no-js-hidden">
                          <select
                            name="country_code"
                            id="currency-selector-topbar"
                            class="image-select center style-default type-currencies"
                            aria-labelledby="CurrencyLabel"
                          >
                            {%- assign current_country = localization.country.iso_code -%}
                            {%- for country in localization.available_countries -%}
                              <option
                                value="{{ country.iso_code }}"
                                {% if country.iso_code == current_country %}
                                  selected
                                {% endif %}
                                data-thumbnail="{{ 'https://cdn.jsdelivr.net/npm/flag-icons/flags/4x3/' | append: country.iso_code | downcase | append: '.svg' }}"
                              >
                                {{ country.name }} ({{ country.currency.iso_code }}
                                {{ country.currency.symbol }})
                              </option>
                            {%- endfor -%}
                          </select>
                        </div>
                        <input type="hidden" name="return_to" value="{{ request.path }}">
                      {%- endform -%}
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
    {%- if section.blocks.size == 1 and section.blocks.first.type == 'announcement' -%}
      </div>
    </div>
    {%- endif -%}
  </div>
</div>

{%- style -%}
    /* Smooth hide/show animations */
    .tf-topbar {
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .tf-topbar.hidden {
      opacity: 0;
      transform: translateY(-100%);
      pointer-events: none;
    }

    /* Individual block hide/show */
    .topbar-block-hidden {
      display: none !important;
    }

    /* Override the default dark color for color schemes */
    #shopify-section-{{ section.id }} .color-{{ section.settings.color_scheme }} .marquee-child-item,
    #shopify-section-{{ section.id }} .color-{{ section.settings.color_scheme }} .marquee-child-item p,
    {
      color: rgba(var(--color-foreground)) !important;
    }

  #shopify-section-{{ section.id }} .color-{{ section.settings.color_scheme }} .dot {
    background-color: rgba(var(--color-foreground)) !important;
  }

  /* Border bottom control */
  .tf-topbar.no-border-bottom {
    border-bottom: none !important;
  }

  .tf-topbar .marquee-wrapper .marquee-child-item,
  .custom-select-selected-content,
  .custom-select-arrow:after {
    color: rgb(var(--color-foreground)) !important;
    line-height: normal;
  }
{%- endstyle -%}
