{% schema %}
{
  "name": "Top Bar",
  "settings": [
    {
      "type": "header",
      "content": "Social Media Links"
    },
    {
      "type": "text",
      "id": "facebook_link",
      "label": "Facebook URL",
      "default": "https://www.facebook.com"
    },
    {
      "type": "text",
      "id": "instagram_link",
      "label": "Instagram URL",
      "default": "https://www.instagram.com"
    },
    {
      "type": "text",
      "id": "x_link",
      "label": "X (Twitter) URL",
      "default": "https://x.com"
    },
    {
      "type": "text",
      "id": "snapchat_link",
      "label": "Snapchat URL",
      "default": "https://www.snapchat.com"
    },
    {
      "type": "header",
      "content": "Announcement Messages"
    },
    {
      "type": "text",
      "id": "message_1",
      "label": "Message 1",
      "default": "Return extended to 60 days"
    },
    {
      "type": "text",
      "id": "message_2",
      "label": "Message 2",
      "default": "Life-time Guarantee"
    },
    {
      "type": "text",
      "id": "message_3",
      "label": "Message 3",
      "default": "Limited-Time Offer"
    }
  ],
  "presets": [
    {
      "name": "Top Bar"
    }
  ]
}
{% endschema %}

<div class="tf-topbar bg-dark-5 topbar-bg">
    <div class="container">
        <div class="topbar-wraper">
            <div class="d-none d-xl-block flex-shrink-0">
                <ul class="tf-social-icon topbar-left">
                    <li><a href="{{ section.settings.facebook_link }}" class="social-item social-facebook"><i
                                class="icon icon-fb"></i></a></li>
                    <li><a href="{{ section.settings.instagram_link }}" class="social-item social-instagram"><i
                                class="icon icon-instagram"></i></a>
                    </li>
                    <li><a href="{{ section.settings.x_link }}" class="social-item social-x"><i class="icon icon-x"></i></a>
                    </li>
                    <li><a href="{{ section.settings.snapchat_link }}" class="social-item social-snapchat"><i
                                class="icon icon-snapchat"></i></a>
                    </li>
                </ul>
            </div>
            <div class="overflow-hidden">
                <div class="topbar-center marquee-wrapper">
                    <div class="initial-child-container">
                        {% for i in (1..5) %}
                            <div class="marquee-child-item">
                                <p>{{ section.settings.message_1 }}</p>
                            </div>
                            <div class="marquee-child-item"><span class="dot"></span></div>
                            <div class="marquee-child-item">
                                <p>{{ section.settings.message_2 }}</p>
                            </div>
                            <div class="marquee-child-item"><span class="dot"></span></div>
                            <div class="marquee-child-item">
                                <p>{{ section.settings.message_3 }}</p>
                            </div>
                            <div class="marquee-child-item"><span class="dot"></span></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block flex-shrink-0">
                <div class="topbar-right">
                    <div class="tf-languages">
                        {%- form 'localization', id: 'TopBarLanguageForm', class: 'image-select center style-default type-languages' -%}
                            <select class="image-select center style-default type-languages" name="locale_code">
                                {%- for language in localization.available_languages -%}
                                    <option value="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                                        {{ language.endonym_name }}
                                    </option>
                                {%- endfor -%}
                            </select>
                        {%- endform -%}
                    </div>
                    <div class="tf-currencies">
                        {%- form 'localization', id: 'TopBarCurrencyForm', class: 'image-select center style-default type-currencies' -%}
                            <select class="image-select center style-default type-currencies" name="currency_code">
                                {%- for currency in localization.available_countries -%}
                                    <option value="{{ currency.iso_code }}"{% if currency.iso_code == localization.country.iso_code %} selected{% endif %}>
                                        {{ currency.name }} ({{ currency.currency.iso_code }} {{ currency.currency.symbol }})
                                    </option>
                                {%- endfor -%}
                            </select>
                        {%- endform -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>